[2016-02-22 15:52] xgamingpro70 commented on #214
![2016-02-22_08 52 04](https://cloud.githubusercontent.com/assets/17411081/13223474/917a9408-d941-11e5-86ef-8af04b7b2f67.png)

[2016-02-22 15:54] MJRLegends commented on #214
Right close your game and remove fastcraft and then start the game back up and try

[2016-02-22 15:54] xgamingpro70 commented on #214
launching it now withought the fastcraft

[2016-02-22 15:58] MJRLegends commented on #214
Fastcraft fixed it

[2016-02-22 15:58] #214 closed

[2016-02-22 16:52] xgamingpro70 opened #215 "dont know what to call this"
![2016-02-22_08 28 19](https://cloud.githubusercontent.com/assets/17411081/13225416/03a84fa4-d94a-11e5-8e7c-74003fad14f6.png)
![2016-02-22_08 28 42](https://cloud.githubusercontent.com/assets/17411081/13225418/03adbb9c-d94a-11e5-8063-639641abb5a7.png)
![2016-02-22_08 28 49](https://cloud.githubusercontent.com/assets/17411081/13225417/03a98b80-d94a-11e5-90e0-22b0b8a3062c.png)
![2016-02-22_09 50 56]

[2016-02-22 16:54] MJRLegends commented on #215
Try updating your graphics drivers

[2016-02-22 16:54] xgamingpro70 commented on #215
i would if i could figure out how haha

[2016-02-22 17:05] xgamingpro70 commented on #215
fixed by updating drivers forcefully

[2016-02-22 17:06] #215 closed

[2016-02-22 17:55] Random-Factor commented on #208
no crash when nothing in hand and crash with a tinkers tool in hand

[2016-02-22 21:54] dartzmaster opened #216 "Crash upon creating world interaction upgrade schematic in cyclic assembler"
As statet in the title i wanted to set a schematic to automatically craft wiu in an thermal foundation cyclic assembler, and as soon as i click the green checkmark my game crashes, tryied it twice, both same result, heres the crash report: http://pastebin.com/6PWwpQLk

[2016-02-22 22:50] xgamingpro70 opened #217 "another graphic error that idk how to fix"
![2016-02-22_15 49 43](https://cloud.githubusercontent.com/assets/17411081/13235590/0179f8c2-d97c-11e5-9d0a-83ee813f2e17.png)

[2016-02-23 03:39] elliskid1022 opened #218 "Crash on world startup since update today"
I'd like to know if this is caused by the update or if something is wrong with the world. I'd hate to lose the world. Below is the crash log.
http://pastebin.com/FY4Ra2Xx (Changed to a pastebin link by MJRLegends)

It appears to do with a quarry in the aroma mining dimension. If there is a way to fix this I'd love to hear it. Thanks.

[2016-02-23 13:58] xgamingpro70 opened #219 "Server is not working"
the server says can't resolve host name is there a problem with stuff server side or is it just me?

[2016-02-23 13:58] #219 closed

[2016-02-23 21:22] #217 closed

[2016-02-23 21:49] MJRLegends commented on #219
It just you

[2016-02-23 21:51] #211 closed

[2016-02-23 21:53] MJRLegends commented on #208
Seems its a mod bug, i would say its a issue with the tinkers mod

See https://github.com/erogenousbeef/BigReactors/issues/468

[2016-02-23 21:56] MJRLegends commented on #206
The server staff are looking into it and know its a issue

[2016-02-23 21:58] MJRLegends commented on #218
It seems to be a problem with chunk loaders (codechicken.chunkloader), you could remove the Chicken chunks mod which will remove the chunk loaders from your world or use mcedit to remove them from your world. Also i have had this crash because and cant find the source or a fix apart from remove them and replace them when you get back in the world

[2016-02-23 23:38] xgamingpro70 opened #220 "Cant figure out how to update the pack"
I just cant figure out how to update the pack do i need to put the pack code back in for the new version?

[2016-02-23 23:39] MJRLegends commented on #220
One can you stop creating 1000 issues that are all the same thing (your graphics card) and two you need to restart the launcher and click launch

[2016-02-23 23:39] #220 closed

[2016-02-23 23:40] xgamingpro70 commented on #220
i did but it didnt update

[2016-02-23 23:40] MJRLegends commented on #220
Is the version set to recommended?

[2016-02-23 23:40] xgamingpro70 commented on #220
yes sir

[2016-02-23 23:42] MJRLegends commented on #220
on the drop down box is there 1.3.9?

[2016-02-23 23:43] xgamingpro70 commented on #220
nope
not that it shows

[2016-02-23 23:44] MJRLegends commented on #220
YOU NEED TO CLOSE THE LAUNCHER COMPLETELY AND RESTART IT!

[2016-02-23 23:45] xgamingpro70 commented on #220
............... thought i tried that sorry for the inconvenience

[2016-02-23 23:59] MJRLegends commented on #220
Please stop posting issues before doing obvious solutions and if they are the same graphics issues because we know why thats happening...

[2016-02-24 02:05] elliskid1022 commented on #218
I ended up deleting the mining world to save my world and it worked okay.
DIdn't lose much. Thanks for the reply and also thanks for making a fun
modpack!

On Tue, Feb 23, 2016 at 3:58 PM, MJRLegends <notifications@github.com>
wrote:

[2016-02-24 02:42] trexus23 opened #221 "Crashing when trying to load sp world"
Hey can someone give me a hand not sure if a bug or a simple missclick( accidently clicked nei during fighting the ender dragon) and now i cannot connect to the game without crashing? http://pastebin.com/tf7stJ9X

[2016-02-24 03:00] eekerbeeker11 opened #222 "having problems connecting to the official server"
i did have a numeric ip that did work with a port different than the default one for minecraft 25565 and this update deleted that now i cant connect since steam deleted the message i got that ip in

[2016-02-24 12:54] MJRLegends commented on #221
Guessing you fixed it then?

[2016-02-24 12:55] MJRLegends commented on #218
Ok fairs

[2016-02-24 12:55] #218 closed

[2016-02-24 17:54] dartzmaster opened #223 "safari net/golden lasso not able to place mob back"
Was messing with those two to transport some mobs, but as soon as i wanted to place the mobs back into the world the net/lasso goes empty but theres no mob. Only had this issue on the official server, sp works fine.

[2016-02-24 20:21] xgamingpro70 opened #224 "Server Wont Start"
The Server has been saying server is restarting for the past half hour so idk if its a bug or is jsut taking to long

[2016-02-24 20:59] xgamingpro70 commented on #224
37 minutes later and it is still down

[2016-02-24 21:38] xgamingpro70 commented on #224
Its up now

[2016-02-24 21:38] #224 closed

[2016-02-24 23:28] MJRLegends commented on #222
What mod pack version you using?

[2016-02-24 23:28] MJRLegends commented on #223
Its because theres a limit on the entities

[2016-02-24 23:28] #223 closed

[2016-02-25 00:00] eekerbeeker11 commented on #222
I fixed it it took changing a DNS server setting on my laptop now it recognises the server

[2016-02-25 00:01] MJRLegends commented on #222
Ok

[2016-02-25 00:01] #222 closed

[2016-02-25 01:29] Balefire9 opened #225 "NEI not working"
When you open inventory no NEI shows up, also when you get into the crafting table no NEI. There is no option in the bottom left to see if its just not on. This only happened after the update so it may be a result of the update and something just getting tweaked funny. Just wanted you to know.

[2016-02-25 06:36] dartzmaster commented on #223
Like... per chunk or overall or???
Am 25.02.2016 12:28 vorm. schrieb "MJRLegends" <notifications@github.com>:

[2016-02-25 14:59] trexus23 commented on #221
Thought i had but now on trying to load  im getting the same error but in a different place now i cant even load the single player world

[2016-02-25 17:11] Doc-Savage99 commented on #206
Ok  thanks  for  looking into  it   :D   sorry  for troubling you

[2016-02-25 23:13] MJRLegends commented on #225
Try pressing O when in your inventory or crafting table inventory

[2016-02-25 23:14] MJRLegends commented on #221
It seems to be a problem with chunk loaders (codechicken.chunkloader), you could remove the Chicken chunks mod which will remove the chunk loaders from your world or use mcedit to remove them from your world. Also i have had this crash because and cant find the source or a fix apart from remove them and replace them when you get back in the world.

See #218

[2016-02-26 07:43] xgamingpro70 opened #226 "so i found 2 issues"
one the server keeps giving me a
![8b5eef1e-dc21-11e5-86de-c63cb4d06c38](https://cloud.githubusercontent.com/assets/17411081/13346182/b621b394-dc21-11e5-86ff-c2d5bacb097c.png)

then there is an issue with the quest book where no one thats new can pass the storage one since they can not get any more templates since the world is 2k x 2k area and all of the meteors have been looted

[2016-02-26 11:32] #226 closed

[2016-02-26 17:04] xgamingpro70 opened #227 "same server errors"
i am still getting the same server error after re installing and restarting client
![image](https://cloud.githubusercontent.com/assets/17411081/13359231/46d3e45e-dc70-11e5-9c68-6e05c086caef.png)

[2016-02-26 17:05] MJRLegends commented on #227
Stop posting issues ffs

[2016-02-26 17:05] #227 closed

[2016-02-26 17:05] xgamingpro70 commented on #227
its an actuall issue ffs

[2016-02-26 17:06] xgamingpro70 commented on #227
an issue is when something does not work for EIGHT HOURS and this has not

[2016-02-26 17:15] xgamingpro70 opened #228 "server"
i would stop posting issues if you explained why and when the server will be fixed if its me just tell me that because i dont know what is wrong and it is worrying me because its been 8 hours if its a network thing just tell me and i will stop posting an issue about it i just want to

[2016-02-26 17:16] #228 closed

[2016-02-26 17:25] Entersandman133 opened #229 "server not letting me join"
hello i am new to the server and the server is giving me an error saying
java.net.ConnectException: Connection refused: no further information:

if you can explain what is wrong and how to fix it please and thank you

[2016-02-26 17:36] JTuck20 commented on #229
This has also been happening to me since last night at 9:30pm (CST).

[2016-02-26 17:50] Entersandman133 commented on #229
see its a real issue :P

[2016-02-26 17:57] Spellkaze commented on #229
See the closed issues, mjr and the host company are working on the server since there were network issues, and yes, since yesterday they have been doing that

[2016-02-26 17:58] Entersandman133 commented on #229
how do you check the closed issues they just seem to dissaper on my screen

[2016-02-26 17:58] JTuck20 commented on #229
I was just posting mine for a timeline. I was on when the "restart" occurred and it stopped working since then.

[2016-02-26 18:01] Entersandman133 commented on #229
so was i this is my main account im "Xgamingpro" and no one told me there was a way to view closed issues if i knew i would not have posted the issue twice and mjr muted me so i could not check anything anymore so i decided to get on my main even though it was a REAL ISSUE and he never told me to check the closed things

[2016-02-26 22:29] JTuck20 opened #230 "Timeline"
I know that the current issue is known and plenty has been posted about it, I was just curious if we have a timeline for when it will be fixed?

I would like to play, but don't really want to check every hour if the server is back up.

Thank you ahead of time.

[2016-02-26 22:50] MJRLegends commented on #229
Server is online

[2016-02-26 22:50] #229 closed

[2016-02-26 22:50] MJRLegends commented on #230
Server is online

[2016-02-26 22:50] #230 closed

[2016-02-27 18:56] JTuck20 opened #231 "Space"
As I was flying in my rocket towards space I suddenly just fell out and fell back down to earth. My spaceship is gone too.
Any reason this would have happened?
And any chance I can get a tier 1 rocket refunded?

[2016-02-27 23:39] MJRLegends commented on #231
Yeah sure just let me know when your next on the server

[2016-02-27 23:39] #231 closed

[2016-02-28 00:12] MJRLegends commented on #225
Did this fix the problem?

[2016-02-28 00:12] #221 closed

[2016-02-28 00:13] MJRLegends commented on #216
I will report this at some point to the mod devs when i have the time :P

[2016-02-28 00:15] #206 closed

[2016-02-28 02:36] JTuck20 commented on #231
I'm getting on right now if you're on/available.

Thank you very much

[2016-02-28 21:30] JTuck20 opened #232 "Same space issue"
Forgot to put the text...

MJR,

Just letting you know, I had the same space problem as the other day. Flew up to space and rocket disappeared and fell back to Earth.

[2016-02-28 21:31] JTuck20 commented on #232
Forgot to put the text...

MJR,

Just letting you know, I had the same space problem as the other day. Flew up to space and rocket disappeared and fell back to Earth.

[2016-02-29 15:27] Balefire9 commented on #225
Yes thank u so much :)

Sent from my iPhone

[2016-02-29 15:29] #225 closed

[2016-03-02 22:17] AceTheUnknown opened #233 "Crash when launching server"
Server was working fine, until I /stop ed the server and restarted my computer. The server had been running for several days before this issue occurred.

http://pastebin.com/MvxMh3C3

[2016-03-02 23:36] MJRLegends commented on #233
See #221

[2016-03-04 16:53] MJRLegends commented on #216
I will wait on reporting this issue because will will wait to see if it fixes it in the next update for the mod pack because it will include new mods for the cofh team's mods

[2016-03-04 16:54] #208 closed

[2016-03-04 16:54] #233 closed

[2016-03-04 16:54] #232 closed

[2016-03-07 04:37] Spellkaze opened #234 "[Suggestion] Another One Bites The Dust mod & Nuclear Control"
**Another Ones Bites The Dust**
This mod makes several ores compatible to several machine's mods (in this case, for IC2 and Mekanism)

Ores like cobalt, yellorium, uranium, platinum (shiny), nickel (ferrous), aluminum and some more are not supported by default, but this mod make them supported, this mod would make the ore processing more important since there would be more than the basics ores to

[2016-03-09 23:51] MJRLegends opened #235 "v1.4.0 Not being on the curse launcher!! *MUST SEE*"
Solution: Use the ftb launcher in till its fixed!

Im trying to get in contact with the FTB Team to solve this

[2016-03-10 00:52] #234 closed

[2016-03-10 00:53] MJRLegends commented on #216
@dartzmaster can you test with v1.4.0 and let me know if its still broken, if so i will report it to the mod devs

[2016-03-10 01:00] Spellkaze opened #236 "[Bug] Can't get Brine(Fluid) stored before update from Fluid Storages Cells (partitioned)"
As i said while you were in the server. I can't get brine (liquid) from the storage cells, making another cell for storage will import new brine and will show in the fluid terminal as the same place the brine made before is.

I can see that all the brine made before the update can't be get in any way, the cell will show that is full, but the brine can't get extracted from buckets or tanks or anyth

[2016-03-10 01:43] MJRLegends commented on #236
Broken Drive: <extracells:storage.fluid:3>.withTag({filter: [{Slot: 0 as byte, id: 5240 as short, Count: 1 as byte, Damage: 62 as short}], "Fluid#0": {FluidName: "brine", Amount: 16384000}, fuzzyMode: "IGNORE_ALL"})

Working/New Drive(Without partitions): <extracells:storage.fluid:3>.withTag({filter: [], "Fluid#0": {FluidName: "brine", Amount: 21824}, fuzzyMode: "IGNORE_ALL"})

Working/New Drive(W

[2016-03-10 01:44] MJRLegends commented on #236
Broken Drive: <extracells:storage.fluid:3>.withTag({filter: [{Slot: 0 as byte, id: 5240 as short, Count: 1 as byte, Damage: 62 as short}], "Fluid#0": {FluidName: "brine", Amount: 16384000}, fuzzyMode: "IGNORE_ALL"})

Working/New Drive(Without partitions): <extracells:storage.fluid:3>.withTag({filter: [], "Fluid#0": {FluidName: "brine", Amount: 21824}, fuzzyMode: "IGNORE_ALL"})

Broken Drive Drive(

[2016-03-10 01:51] MJRLegends commented on #236
I will do more testing to why the meta data has changed... might be from the Mekanism dev changing it or adding a new mod to the mod pack changed it

[2016-03-10 02:08] littlelobsterG opened #237 "Can't break any blocks."
So i just started and I wanted to get some iron and made a osmium pick but i couldn't break anything not even in creative i couldn't even do any program.

[2016-03-10 02:09] MJRLegends commented on #237
This isnt enough detail to even know what the problem is

[2016-03-10 02:25] Spellkaze opened #238 "[Bug] Mobius "Unstable/Stable" Ingot Crafting & and more"
Extra utilities have 2 sigils for making the unstable ingots. the Division sigil make unstable ingots that explodes within 10 seconds a limited times and can only be crafted on vanilla crafting tables. the Pseudo-Inversion Sigil (which is a bit hard to obtain) can make Mobius "Unstable/Stable" Ingot, which is like a unstable ingot that never explodes, have 2 extra recipes that are not shown in NEI

[2016-03-10 03:39] littlelobsterG commented on #237
I found the source of the problem. Turns out anothe mod was interfiering with the button one or left mouse button so I just changed it to another button.

[2016-03-10 16:20] dartzmaster commented on #216
works now. :)

[2016-03-10 16:20] #216 closed

[2016-03-10 16:28] #237 closed

[2016-03-10 17:15] #235 closed

[2016-03-10 17:18] MJRLegends commented on #213
Please post here when you have a copy of the world and i will reopen the issue

[2016-03-11 00:52] #236 closed

[2016-03-11 00:54] MJRLegends commented on #216
Good to hear :P

[2016-03-11 01:48] jasmine2785 commented on #213
Sorry! didn't see your first responds!

https://dl.dropboxusercontent.com/u/5852404/New%20World.7z

Hopefully my Dropbox works according to what it says

[2016-03-13 00:54] electricgolfer2 opened #239 "Resevoir"
Hi electric here, I cannot craft a resevoir because of a unknown bug (Yes im using fuzed glass and not quite clear glass) and when i put 4 fuzed glass 4 glass and 1 cauldron it WILL NOT make a resevoir. If there is a specific reason for this PLEASE let me know, My O2 supply depends on it!

[2016-03-13 11:34] MJRLegends commented on #239
Is that the recipe that shows in NEI?

[2016-03-13 17:36] ninjahjp06 opened #240 "Not able to connect to servers"
Whenever I try to join a server "Internal Exception: java.lang.RuntimeException: No OpenGL context found in the current thread" comes up. Single player works fine, but I don't know what's wrong with multiplayer.

[2016-03-13 18:00] Spellkaze commented on #240
Hosting issues, Mjr is aware of it. https://twitter.com/mjrlegends/status/709070174624808961

[2016-03-13 18:02] MJRLegends commented on #240
No he's error is because the servers he's trying to join is running a older version of the mod pack

[2016-03-13 18:03] #240 closed

[2016-03-13 20:59] MJRLegends opened #241 "OFFICIAL SERVER BEING OFFLINE!!"
i know, It's down atm because the hosting company is having issues. I'm not sure how long its going to be down for. Might be hours, might be days.......

I will keep you posted on any news here!!!

Nothing i can do because i dont have any access to the server stuff atm due to issues on the hosting companies side... but they are working hard on fixing it

[2016-03-13 22:07] MJRLegends commented on #241
Server is back online!!

[2016-03-13 22:07] #241 closed

[2016-03-13 22:13] MJRLegends commented on #238
I will get around to fixing this soon, for the offical server and then will be included in the next mod pack update :P

[2016-03-13 23:10] Spellkaze commented on #239
I can craft it, i also showed him yesterday how to craft it and he could do it, the recipe only needs 2 fused glass, not 4

[2016-03-13 23:35] electricgolfer2 commented on #239
Yeah Spellkaze showed me but i was trying to craft from the NEI guide

[2016-03-13 23:54] MJRLegends commented on #239
So the recipe is fine?

[2016-03-14 00:12] Andrene opened #242 "Cant see recipes anything from PowerSuit mod"
As the title says. NEI isn't showing any of the recipes. Attempted to reinstall modpack, didn't fix it.

[2016-03-14 00:20] MJRLegends commented on #242
They are for me? have you added or removed any mods and what item were you looking up....

[2016-03-14 00:25] #239 closed

[2016-03-14 00:47] Schniblee opened #243 "Exception getting block type in world"
Hello, my game keeps crashing whenever I try to start my world in space astronomy, and i have no idea what to do. Please help.

java.lang.NullPointerException: Exception getting block type in world
	at codechicken.chunkloader.ChunkLoaderManager.getPlayerOrganiser(ChunkLoaderManager.java:659)
	at codechicken.chunkloader.ChunkLoaderManager.getOrganiser(ChunkLoaderManager.java:638)
	at codechicken.ch

[2016-03-14 22:35] EchoingZen opened #244 "Undergarden Biome generating in the Overworld"
The Undergarden (ID 113) biome is generating in the Overworld.  This is a nether biome.

**Steps to reproduce:**
* Create a new world
* In creative mode, give yourself a biome detector and a biome essence attuned to Undergarden.  You can give yourself the essence with the following command: "/give @p BiomesOPlenty:biomeEssence 1 0 {biomeID:113}"
* Travel in the direction indicated until you find t

[2016-03-14 22:42] Andrene commented on #242
I have not added any mods, nor have i removed any, and by I can see the recipes, i mean i hit R on the item it doesnt show a recipe. I also have tried clicking on it( common way for me to see the recipe)

[2016-03-14 23:38] MJRLegends commented on #243
#221

[2016-03-14 23:38] #243 closed

[2016-03-15 00:13] MJRLegends commented on #244
Yeah seems to be a known bug for BOP mod see https://github.com/Glitchfiend/BiomesOPlenty/issues/484 but doesnt look like it was ever fixed....

[2016-03-15 00:18] Schniblee commented on #243
I removed the chicken chunks mod like you said, but now im getting this error.
EnderIO: Found the following problem(s) with your installation:
                  * An unsupportted old RF API is installed (1.7.10R1.0.1 from Railcraft_1.7.10-9.8.0.0.jar).
                    Ender IO needs at least 1.7.10R1.0.2 and will NOT work with older versions.

and the world still crashes when i try to load it.

[2016-03-15 00:19] MJRLegends commented on #243
Thats not the reason its crashing, send me the crash log via www.pastebin.com

[2016-03-15 00:22] #244 closed

[2016-03-15 00:22] Schniblee commented on #243
http://pastebin.com/RVxqtQTB

[2016-03-15 00:22] #238 closed

[2016-03-15 00:25] MJRLegends commented on #243
Remove the RedstonePasteMod mod and start the world and then you can add it back in after if you want

[2016-03-15 00:36] Schniblee commented on #243
http://pastebin.com/AG7E5rwu

[2016-03-15 00:47] Schniblee commented on #243
when i start the world, it starts to load and i can see my hotbar, but is doesn't have any of the things that i logged out with. Then it just crashes and for some reason takes me to the multiplayer server menu and when i try to log in again, i see my hotbar again and then the whole game just crashes

[2016-03-15 16:47] littlelobsterG opened #245 "No mars dungeon treasure room."
I was on the quest line "Exploring the universe" trying to get a tier 3 rocket but when i found the dungeon and killed the creeper boss i could not find a treasure room. even mined around the boss room and went in to creative to spawn a tier 2 chest but neither worked i don't know what to do.

[2016-03-15 19:18] MrSilentPhoenix opened #246 "Quarry causing constant crashes"
so after checking closed issues and trying to solve it myself, the issue persists and is repeatable.
i've removed chickenhunk mod before and atfer placing the quarry, i've tried breaking the chunk loader before placing the quarry. i'm not sure what i could do to resolve the problem.

[2016-03-15 21:46] arden03 opened #247 "Update check failed"
I am getting "[thread-28/error] [more planets]: update check failed!" and the server will not load. Any help appreciated. I didn't see it in the sticky.

[2016-03-15 23:00] #247 closed

[2016-03-15 23:02] MJRLegends commented on #246
I need the crash logs?

[2016-03-15 23:02] MJRLegends commented on #245
Try find another dungeon because they sometimes not generate correctly

[2016-03-16 15:41] littlelobsterG commented on #245
I managed to find another dungeon and after siting in the corner and punching the tnt back and fourth I didn't even get the tier 3 rocket blue print.( I'm going to spawn it in but I just wanted to complain to someone)0

Sent from my iPhone

[2016-03-16 23:37] MJRLegends commented on #245
There should be a issue with the dungeons, you should find the boss room then kill the boss, the boss will then drop a key which you go to a room containing the treasure chest which you use the key to unlock the chest and your will have loot and a schematic...

[2016-03-16 23:46] littlelobsterG commented on #245
Yes but I got a different schematic

Sent from my iPhone

[2016-03-17 01:04] MJRLegends commented on #245
Which planet you on?

[2016-03-17 01:06] littlelobsterG commented on #245
I was on mars but I progressed and am on Mercury right now

Sent from my iPhone

[2016-03-17 01:14] MJRLegends commented on #245
Yeah on mars with can get the tier 4 one and the tier 3 one due to the way more planets mod is setup

[2016-03-17 01:14] #245 closed

[2016-03-17 15:45] littlelobsterG opened #248 "Black screen on Mercury."
Went to Mercury and got a black screen tried re logging and going to the specter dimension but neither worked. Don't know what to do.

[2016-03-17 21:32] MJRLegends commented on #248
I cant reproduce this problem with just that small amount of information

[2016-03-19 20:47] kamyflouge opened #249 "Crash when using Gravity Boots"
i was testing the pack .i was in survival mode but had enabled cheats in nei i traveled to pluto with tier 8 rocket creative.then cheated myself gravity boots and got this crash [http://pastebin.com/fax1rshv](http://pastebin.com/fax1rshv)

[2016-03-20 15:55] MJRLegends commented on #249
Seems to be a more planet probably, might be fixed soon

[2016-03-20 17:42] MJRLegends commented on #242
Is it the same thing for you in v1.4.1 update of the mod pack

[2016-03-20 18:09] Spellkaze opened #250 "Enhaced Building Guide don't put blocks in the official server"
As the title says, the Enhaced Building Guide don't put blocks in the official server (have not tested in other servers tho)
This works in singleplayer, but in the server, with protected or not protected zones it don't put any blocks. the blocks are not consumed or produce any particle effect. The ghost blocks guide works fine.
2 pictures, one in singleplayer, and the other one in the server
![201

[2016-03-20 18:16] MJRLegends commented on #250
I think you just need to allow the block to build in the claim, but im not sure that the fake player will be, i will look in to it

[2016-03-21 01:14] Spellkaze commented on #250
it don't work on unprotected zones either, is not disabled in the server configs?

[2016-03-21 01:15] MJRLegends commented on #250
The server config are the same as the client ones(single player) I will have a look in to it

[2016-03-23 17:52] aiventimptner opened #251 "Blutonium"
In generell Blutonium from Big Reactors are working the same way as yellorium to "feed" your reactor. But for me it doesn't working. The reactor only uses yellorium as fuel source. Is that intended to not work?

[2016-03-23 19:30] froob956 opened #252 ""Timed Out""
"Timed out" on attempting to connect to the official server. Tried restarting everything. Internet is working perfectly otherwise.

[2016-03-23 20:57] froob956 commented on #252
Seemed to be a short problem, working now. Sorry for the post.

[2016-03-23 20:57] #252 closed

[2016-03-24 00:11] MJRLegends commented on #251
Seems to work fine for me? what mod pack version you running? and you sure its Blutonium not cyanite? also are you able to show me some pictures of the access port that the Blutonium is in and a picture of the reactor controller? or a video showing it?

[2016-03-25 19:29] aiventimptner commented on #251
Well found my mistake. Blutonium just works fine. I forgot to empty out the Access Port so there can't be pulled Blutonium. DERP.

[2016-03-25 19:54] MJRLegends commented on #251
It's fine

[2016-03-25 19:54] #251 closed

[2016-03-26 23:33] MJRLegends commented on #246
@MrSilentPhoenix
Any news on this?? if not please can you provide the crash logs

[2016-03-26 23:33] MJRLegends commented on #242
@Andrene is there any news on this issue??

[2016-03-26 23:34] MJRLegends commented on #213
I was unable to fix the issue so a new world is the only option i think. if the issue hasnt fixed it self by now

[2016-03-26 23:34] #213 closed

[2016-03-27 11:59] XenosTiger commented on #248
It seems to be altitude based- I've noticed it on Sirius B as well. Drop below ~Y:65 on Sirius B, and you can see things. Go above that level, and everything goes black again. Don't know if the same is true for Mercury.
Just throwing in a bit of additional information, I hope it helps.

[2016-03-27 12:00] MJRLegends commented on #248
Have you got night vision?

[2016-03-27 12:04] XenosTiger opened #253 "Formally Requesting Monthly Nether Resets."
I seem to be having an extreme issue with finding anything in the Nether. I went there in search of two simple materials- Glowstone and Quartz. After spending an hour searching, I came up with no glowstone, and about ten pieces of nether quartz. The Nether has a ridiculous number of claims in it, and I haven't found a single Glowstone deposit.

Perhaps doing as other servers do, and resetting the

[2016-03-27 13:26] Andrene commented on #242
After updating there is no change, but on a different computer the recipes work.

[2016-03-27 14:20] MJRLegends commented on #242
Well if it works on another computer then its a problem on your side, Maybe try update your java, delete all mod pack files and reinstall it all....

[2016-03-27 14:20] #242 closed

[2016-03-27 14:21] MJRLegends commented on #253
Yeah i am thinking about this because im trying to work it all out and try and find a good way to do it

[2016-03-27 15:13] XenosTiger commented on #253
If all else fails, you could periodically drop the server and manually delete the nether file- which would cause the server to regenerate it on its own.

[2016-03-27 15:16] MJRLegends commented on #253
I know

[2016-03-27 15:56] littlelobsterG commented on #248
I have night vision on my amour

Sent from my iPhone

[2016-03-27 15:57] MJRLegends commented on #248
Thats why then, because its a known issue with galacticraft

[2016-03-27 15:58] ProxyPlayerHD opened #254 "OpenComputers Tapes not Working + Nutrient Distillation not Craftable (1.4.0)"
i didn't saw any of theses in the Changelog.
so, the Nutrient Distillation Liquid is Uncraftable for everyone i know who plays the pack.
also Tapes won't play sound. a Friend and I Tried it Multiple Times with Different songs and Tapes.

a Tape Drive next to a Speaker and a Downloaded Song from YT on it, it just Gives a Error Code whenever i press the Play Button.
`[17:50:13] [Thread-36/INFO] [STD

[2016-03-27 19:06] #253 closed

[2016-03-27 19:06] #248 closed

[2016-03-27 19:18] #249 closed

[2016-03-27 19:50] EchoingZen opened #255 ""entity.soul.name soul aspect" drops from cows"
I'm not familiar with the Practicalities mod so I'm not sure how this is dropping.

[2016-03-29 14:55] MJRLegends commented on #254
For the Nutrient Distillation not Craftable issue see https://github.com/SleepyTrousers/EnderIO/issues/3212 im going to downgrade the version of the mod in the next update

[2016-03-29 17:18] aiventimptner opened #256 "Mod Request"
Will there Wireless Redstone by Chicken Bones added?

[2016-03-29 17:33] MJRLegends commented on #256
Probably not since we already have a wireless redstone mod in the mod pack

[2016-03-29 17:38] aiventimptner commented on #256
Okay. It would be nice to have it because Chicken Bones Wireless Redstone is more complex. (Items like Sniffer). But I think Wirelss Redstone will do it as well.

[2016-03-29 22:05] MJRLegends commented on #256
Maybe i will think about it

[2016-03-29 22:05] #256 closed

[2016-03-30 14:17] MJRLegends opened #257 "Official server offline/down!!"
The official server seems to be a down, due to a issue on the hosting company side, it will be back up soon hopefully....

[2016-03-30 14:32] MJRLegends commented on #257
Back online :P

[2016-03-30 14:32] #257 closed

[2016-04-01 21:20] MJRLegends commented on #255
what weapon/tool/item was you using to kill the cow?

[2016-04-01 21:23] MJRLegends commented on #254
@ProxyPlayerHD are you testing the taps on single player or multilayer or both?

[2016-04-01 22:37] ProxyPlayerHD commented on #254
SP and MP. (even says that in the Post. "i Tested both Things in Multiplayer and in SinglePlayer. both with the Same Results.")

and as far as i know, it's eitherway from some other Mods or the Sound card of me AND my Friend.

[2016-04-01 22:40] MJRLegends commented on #254
@ProxyPlayerHD yeah i cant read then as i missed that part and yeah i think its a computronics problem as there from there

[2016-04-02 18:16] Spellkaze commented on #254
This is a known  issue with Computronics, it usually appears in modpacks asiekierka/Computronics/issues/166. Apparently due to many mods the sound system ran out of memory. I just leave this here in case is helpful for anyone with the same error.

(I know this because it have happened to me in this and other modpacks)

[2016-04-02 22:32] MJRLegends commented on #254
@Spellkaze yeah thats what i found then i looked at this problem :P

[2016-04-04 18:17] hadrosak opened #258 "game crashes when using TC smeltery (?)"
Hi,

my game crashed several times, when using TC smeltery - not sure what actually caused it.
Crash log below, cant read a thing from it. Would appreciate a help.

Thank you.

--- Minecraft Crash Report ----
// Everything's going to plan. No, really, that was supposed to happen.

Time: 4/4/16 7:54 PM
Description: Exception in server tick loop

java.lang.RuntimeException: java.io.FileNotFoundExcep

[2016-04-04 18:46] MJRLegends commented on #258
One: read the crash log has nothing to do with a TC smeltery and the crash log shows its not a bug with the mod pack and two use pastebin for the crash logs next time!

[2016-04-04 18:46] #258 closed

[2016-04-07 17:39] Thornstromb opened #259 "Integrated Circuits Shader Crash"
after playing for a while, i get this message
[integratedcircuits]: Shaders not supported, disabling aura effect :(
and the screen freezes, the ui vanishes, but the game continues running.

this is a "known" error possibly caused by faulty configs, that crashes OpenGL but not the game, as described HERE (https://github.com/Haggle1996/RevolutionPack/issues/96) for a different pack. unfortunately, t

[2016-04-07 17:51] MJRLegends commented on #259
If it crashes i need the crash log??

[2016-04-07 17:52] #254 closed

[2016-04-07 17:52] MJRLegends commented on #246
I will reopen if you ever post the crash logs!

[2016-04-07 17:52] #246 closed

[2016-04-07 17:55] MJRLegends commented on #259
To me it seems like a issue on your side with your graphics card and its drivers

[2016-04-07 19:39] Thornstromb commented on #259
Firstly: there IS no "Crash" log. the minecraft logger reports no crashes, and the GAME continues running, its just the screen will not continue as OpenGL has crashed. which minecraft doesnt track. the ONLY thing on the tracker is the warning report form integrated circuits, mentioned above.
Second, this problem continues even after updating my graphics drivers, and i know my graphics "card" (an o

[2016-04-07 20:32] MJRLegends commented on #259
What graphics card do you have

[2016-04-07 20:49] Thornstromb commented on #259
AMD Radeon HD 8670D onboard.

[2016-04-08 16:02] MJRLegends opened #260 "V1.4.2 CRASH!!!"
# If your getting this crash http://pastebin.com/0Lk30Abn then read is issue:
I made a error and didnt include a updated version of AE2 Stuff in the mod pack to support AE2 Rv3 :(

**Solution in till v1.4.3 is out:
**1.  Use v1.4.1
2. Remove AE2 Stuff

[2016-04-08 16:06] dragonfly19981 opened #261 "Automapping all causes the game to crash (version 1.4.2)"
http://pastebin.com/SZbJH8Rm

How to replicate: Create a new world. Open Journeymap menu. Click options then automapping . click all.

[2016-04-08 16:21] MJRLegends commented on #261
Did it work fine in v1.4.1?

[2016-04-08 16:44] dragonfly19981 commented on #261
Yes it worked fine before I updated it.

Also it happens when trying to automap missing

[2016-04-08 16:46] MJRLegends commented on #261
Yeah works fine for me in v1.4.2 but i think the updated of fast craft doesnt like your computer so im downgrading it in v1.4.3 anyways as theres a server side isssue with the v1.4.2 so v1.4.3 will be out soon

[2016-04-08 17:24] MJRLegends commented on #260
Update on the crash issue and the cause: it will only happen if you have a Advanced Inscriber in your world/on your server...

[2016-04-08 17:55] aiventimptner opened #262 "Crash when open NASA Workbench GUI"
I'm using the DimensionChanger from Aroma's World Mod to "travel" back from different dimensions to Overworld. Now when I open at anytime NASA Workbench GUI Minecraft crashes. After restarting Space Astronomy I can open NASA Workbench as normal.

[2016-04-08 18:31] MJRLegends commented on #262
Crash log???

[2016-04-08 18:41] aiventimptner commented on #262
[crash-2016-04-08_20.38.57-client.txt](https://github.com/MJRLegends/Space-Astronomy-Feedback-/files/210672/crash-2016-04-08_20.38.57-client.txt)

[2016-04-08 18:42] MJRLegends commented on #262
Please user pastebin.com to post crash logs

[2016-04-08 18:43] EchoingZen commented on #255
I believe is was with a King Slime Cleaver but I'm not sure.  I'll continue to test what tool is causing that.

[2016-04-08 18:43] aiventimptner commented on #262
https://pastebin.com/7t3zUVPA

[2016-04-08 18:44] MJRLegends commented on #262
Does it happen if you try and reproduce the problem

[2016-04-08 18:44] aiventimptner commented on #262
Yes can reproduce it as often as i want.

[2016-04-08 18:45] MJRLegends commented on #262
Does it happen if you do it with a empty hand

[2016-04-08 18:46] aiventimptner commented on #262
Yes

[2016-04-08 18:47] MJRLegends commented on #262
Ok does it do it even time you try and open the gui

[2016-04-08 18:50] MJRLegends commented on #255
Yeah from what i can see its a Practicalities mod bug which i dont think i can do much about

[2016-04-08 18:51] aiventimptner commented on #262
Well it only crashes the first time I try to open the gui after using the DimensionChanger. After restarting FTB i can open the gui without any problems. Anyway it doesn't matter how long i wait after using DimensionChanger.

[2016-04-08 18:52] MJRLegends commented on #259
Have you tried to update your graphics drivers and/or removing fastcraft

[2016-04-08 18:54] MJRLegends commented on #262
Do if you start up the game again and right click it with your hand does it crash?

[2016-04-08 19:01] aiventimptner commented on #262
Okay if I understood you right I used Dimension Changer to go back to Overworld and then quit game and restarted it. After finished loading I tried to open the gui.

:arrow_right: Game did not crash.

I'm always using my empty hand to open the gui.

[2016-04-08 20:05] MJRLegends commented on #262
So when you go in to your world and use the Dimension Changer to change worlds then you open the gui with a empty hand it crashes?

[2016-04-08 20:11] aiventimptner commented on #262
Right!
I'm at the Moon for example and then I charge the Dimension Changer to teleport back to Overworld. After Teleportation next to my Bed in my Overworld Base I go to the NASA Workbench. Now when I try to open the NASA Workbench gui with my empty hand it crashes.

[2016-04-08 20:13] MJRLegends commented on #262
Thats so weird haha

[2016-04-08 20:16] aiventimptner commented on #262
Can you reproduce it?

[2016-04-08 20:19] MJRLegends commented on #262
i will test later on and get back to you

[2016-04-08 20:21] aiventimptner commented on #262
Okay. It's not THAT annoying. :wink:

[2016-04-08 20:26] dartzmaster opened #263 "Mod suggestion: ExtraTiC"
It's a simple AddOn for Tinkers Construct. It adds support for some other materials like enderium or signalum from thermal expansion.
I would look forward to you adding this mod in the next update :)

[2016-04-08 20:31] MJRLegends commented on #263
Maybe

[2016-04-08 23:03] #263 closed

[2016-04-09 10:11] #260 closed

[2016-04-09 11:32] aiventimptner commented on #262
I discovered today that it's not the Dimension Changer ... It crashes when I'm just teleported back to Overworld. Crash can be reproduced with Telepads, Dimension Changer or Enhanced Portals. If I exit the world (not quitting the game) and reconnect then it won't crash. (I play on my privat server.)

[2016-04-09 22:43] MJRLegends commented on #261
@dragonfly19981 can you test in v1.4.3 please

[2016-04-10 07:42] DaKydra opened #264 "Cannot Open World"
Attempted to Open my world but just crashed
[12:16:42] [Client thread/INFO] [TConstruct]: [Waila-Compat] Got registrar: mcp.mobius.waila.api.impl.ModuleRegistrar@256c4495
[12:16:42] [Client thread/INFO] [Waila]: Success in registering TConstruct
[12:16:42] [Client thread/INFO] [Waila]: Trying to reflect Reika.DragonAPI.ModInteract.LegacyWailaHelper registerObjects
[12:16:42] [Client thread/INFO] [

[2016-04-10 18:54] ChrisMott97 opened #265 "Server Files"
Tried to download server files for 1.4.3, they appear to be the same as 1.4.1 ?
EDIT: It seems to go to the 1.4.3 URL but the actual files are the same

[2016-04-10 20:21] Thornstromb opened #266 "Quest Book wont open"
after updating from 1.4.1 to 1.4.3 (and the server doing the same, but for some reason im the only one affected by this!) through Curse, trying to open the quest book results in.... NOTHING, except THIS series of logger messages:

https://gist.github.com/Thornstromb/889a83da7fc63bfdb83060fea29d8b91 (sorry for not remembering pastebins earlier)

NOTE: game does not crash, no other errors detected,

[2016-04-10 21:02] Thornstromb commented on #259
already mentioned graphics driver was updated, removing fastcraft extremely difficult due to not being the server host myself. also, nobody else on the server is getting this error.

[2016-04-10 21:11] #264 closed

[2016-04-10 21:11] MJRLegends commented on #264
See known issues your crash is already listed there

[2016-04-10 21:15] MJRLegends commented on #265
There fine for me? did you restart your launcher?

[2016-04-10 21:16] MJRLegends commented on #266
I need both client and server logs, use www.pastebin.com to post them

[2016-04-10 21:38] MJRLegends commented on #259
You still can remove fastcraft on your client side and you will still be able to join servers that have it

[2016-04-10 21:39] MJRLegends commented on #262
Ok can you create a new world and try to reproduce it there

[2016-04-10 21:41] #255 closed

[2016-04-10 21:43] MJRLegends commented on #266
Welcome to the HQM mod bugs.. i think you will have to delete/reset your hqm player data

[2016-04-10 22:07] Thornstromb commented on #266
Item One: having perused the server log, there are no entries that pop up during the several times i tried to open the book. no serverside errors.
Item 2: we are launching server now with the quest data reset, will leave another message about the results.

[2016-04-10 22:09] MJRLegends commented on #266
@Thornstromb ok let me know how it goes

[2016-04-10 22:11] Thornstromb commented on #266
ANSWER: NO CHANGE. freshly regenerated questing mode does NADA

[2016-04-10 22:12] MJRLegends commented on #266
What files did you delete?

[2016-04-10 22:14] Thornstromb commented on #266
serverside deleted the entire "HardcoreQuesting" folder in the server world. then re-enabled quest mode with ingame command
also, i CAN acsess the book just fine in singleplayer

[2016-04-10 22:15] MJRLegends commented on #266
Can you send me a copy of your server log and client log

[2016-04-10 22:16] Thornstromb commented on #266
sigh one sec

[2016-04-10 22:35] Thornstromb commented on #266
Clientside full FML here
https://gist.github.com/Thornstromb/a25df989c3939fc515a9b880cd7a9cde

[2016-04-11 04:02] Thornstromb commented on #266
NEW INFORMATION: upon running a copy of my friends (server-hosts) MC folder, the problem has vanished. im assuming this means the problem is in the configs somehow

[2016-04-11 09:16] ChrisMott97 commented on #265
Ah, I've just tried again, it works now! - can't have been a launcher issue because it still sent me to http://ftb.cursecdn.com/FTB2/privatepacks/SpaceAstronomy/1_4_3/SpaceAstronomyServer.zip originally - but regardless, it works now, thanks

[2016-04-11 09:17] #265 closed

[2016-04-11 10:33] MJRLegends commented on #266
Since you have added/changed mods this problem could be due to your changes that you have made because i haven't heard of this issues before

[2016-04-11 16:04] Grim3Is opened #267 "Cant connect"
Hi i cant conect to the server at all!
Everytime i try to log in i get the error message:
Connection Lost:
Mod Rejections[FMLMod:extracells{2.3.9}, ....
after that i get kicked back to the Multiplayer Screen

Im running on Version 1.4.3 at the Curse Launcher tho. And cant find any hint on how to fix that on the forum.

Any advice?

[2016-04-11 16:08] MJRLegends commented on #267
are you 100% sure says on the main menu v1.4.3? if so reinstall the mod pack

[2016-04-11 17:07] zozazer opened #268 "Game crashes as soon as I try to load my save"
Crash report: ---- Minecraft Crash Report ----
// You should try our sister game, Minceraft!

Time: 11/04/16 17:48
Description: Exception getting block type in world

java.lang.NullPointerException: Exception getting block type in world
	at codechicken.chunkloader.ChunkLoaderManager.getPlayerOrganiser(ChunkLoaderManager.java:659)
	at codechicken.chunkloader.ChunkLoaderManager.getOrganiser(ChunkLoa

[2016-04-11 17:37] #268 closed

[2016-04-11 20:29] Thornstromb commented on #266
unfortunately it cant really be because of the mods, as noone else is getting this issue on the server. apparently i also had config errors somehow...

[2016-04-11 20:30] MJRLegends commented on #266
Just reinstall the mod pack and it should be fixed

[2016-04-13 20:26] Grim3Is commented on #267
Server is space.mjrlegends.com
Its definitively 1.4.3
AND .... i can neither connect to space.modrealms.net nor play.devcoftb.net       but here i get OpenGL errors (singleplayer works fine tho ... )

Reinstalling doesnt solve the problem either. Im playing singleplayer atm.
Dont know whats causing the problem. (seems to be a problem with some items from AE2 but .... i dont know)
As it seems im th

[2016-04-13 22:41] MJRLegends commented on #267
How weird... so are you still getting the "Mod Rejections[FMLMod:extracells{2.3.9}, .... " issue or just the open gl error

[2016-04-16 13:47] snickering opened #269 "Crash on loading save - seems to be IE related?"
My save game is crashing on load. The log file is below. The other day I tried removing Immersive Engineering and was able to load it successfully. I did try to reproduce the crash by adding IE object back into my mining world/overworld, but was not able to. The next day my save loaded fine. Yesterday I am back to getting the game crash on world load.

Since my power infrastructure in early game i

[2016-04-16 22:32] #266 closed

[2016-04-16 22:32] MJRLegends commented on #267
@Grim3Is ?

[2016-04-18 04:58] Ihavetherights opened #270 "i was doing some advanced genetics and got DQ now i cant get back in"
ive re downloaded the pack ive tried to direct connect and nothing works help plz

[2016-04-18 07:13] MJRLegends commented on #270
Single player or multiplayer? If multiplayer which server?

[2016-04-18 10:38] Ihavetherights commented on #270
multiplayer space.mjrlegends.com

[2016-04-18 10:46] MJRLegends commented on #270
Can you send me your log after trying to connect

[2016-04-18 10:53] Ihavetherights commented on #270
[2016-04-17-2.log.gz](https://github.com/MJRLegends/Space-Astronomy-Feedback-/files/223577/2016-04-17-2.log.gz)

[2016-04-17-1.log.gz](https://github.com/MJRLegends/Space-Astronomy-Feedback-/files/223579/2016-04-17-1.log.gz)

[2016-04-18 10:57] Ihavetherights commented on #270
i just tried again and it wont let me post this one so im just gona copy and paste it

[2016-04-18 10:58] Ihavetherights commented on #270
[12:47:33] [main/INFO]: Setting user: Ihavetherights
[12:47:36] [Client thread/INFO]: LWJGL Version: 2.9.1
[12:48:14] [Client thread/INFO]: Reloading ResourceManager: Default, FMLFileResourcePack:Forge Mod Loader, FMLFileResourcePack:Minecraft Forge, FMLFileResourcePack:Not Enough Items, FMLFileResourcePack:ArmorStatusHUD, FMLFileResourcePack:Damage Indicators, FMLFileResourcePack:Advanced Genetic

[2016-04-18 12:03] MJRLegends commented on #270
Your DNA combiner was crashing the server and i've had to remove the block from the world, try now

[2016-04-18 12:03] #270 closed

[2016-04-18 13:32] Ihavetherights commented on #270
im at school now ill try when i get home oh and btw i lost my fly and no fall gene in the process of crashing... i mean i have another but i would have to re complete them. i dont know what would happen if i tryed to re make them, would it crash again. it would be nice if you could just give me the syringe for it cause i really dont wanna crash again. if not its fine if i crash ill just contact yo

[2016-04-20 22:30] MJRLegends commented on #269
Sorry for the delay i will take a look at this issues as soon as i can

[2016-04-20 22:50] snickering commented on #269
As a side note, upon further testing, I do NOT get the crash on load when using the prior version of IE. Version 1.7.4 does not crash when loading the save game created with version 1.7.5. Hope this helps!

________________________________
From: MJRLegends <notifications@github.com>
Sent: Wednesday, April 20, 2016 6:30 PM
To: MJRLegends/Space-Astronomy-Feedback-
Cc: snickering; Author
Subject: Re:

[2016-04-20 23:14] Chinthor opened #271 "Late versions won't load"
I have this error with latest and a few recent versions of Space Astronomy and Evolving Technology. Even after modpack delete and clean install. *Note* I got SA to launch after installing the very first version. Don't know how new I can get and still work. Any ideas?

[18:00:12] [main/INFO]: Loading tweak class name cpw.mods.fml.common.launcher.FMLTweaker
[18:00:12] [main/ERROR]: Unable to launch

[2016-04-21 00:19] Chinthor commented on #271
After a lot of testing, I can open most versions under 2.0.0 and the 2.0.3 and 2.0.4 alpha versions. Nothing else will load beyond this error.

[2016-04-23 22:41] MJRLegends commented on #271
The latest version of Space Astronomy is 1.4.3 so please use that version

[2016-04-23 22:42] MJRLegends commented on #269
@snickering sorry for the slow reply been busy with personal stuff, but this is probably a mod bug and i will have a look at what i can do for v1.4.4 of the mod pack to fix it
.

[2016-04-23 22:43] MJRLegends commented on #262
@aiventimptner ?

[2016-04-23 22:44] MJRLegends commented on #259
@Thornstromb did my comment above solve the issue?

[2016-04-23 22:44] #271 closed

[2016-04-25 12:59] Triaxx2 opened #272 "Cannot launch pack"
[crash-2016-04-20_09.15.24-client.txt](https://github.com/MJRLegends/Space-Astronomy-Feedback-/files/234566/crash-2016-04-20_09.15.24-client.txt)

[2016-04-25 13:02] MJRLegends commented on #272
One use pastebin for crash logs and two could you explain more about that your using and what your doing and what you have tried to solve the problem...

[2016-04-25 15:55] Triaxx2 commented on #272
http://pastebin.com/RDRzMdnK

I'm using the latest version, the only mod I've changed at all is to add AppleCore. Removing it gives the same error. It loads to 6/7 Finishing up and then crashes back to the launcher.

[2016-04-27 13:29] johnharry opened #273 "I get this error quite randomly, every once in a while while playing or idling in my world."
Paste bin - http://pastebin.com/S5xaGGuQ

[2016-04-27 13:31] MJRLegends commented on #273
Delete the file its saying is in use in the crash log and that should fix it

[2016-04-27 13:33] johnharry commented on #273
Ok thanks for the quick response. Ill try thank and see if it fixes it

[2016-04-27 13:34] MJRLegends commented on #273
Yeah it should ive had it before with a single player world

[2016-04-27 14:14] #273 closed

[2016-04-28 15:36] aiventimptner commented on #262
I can't reproduce it in a new world. Maybe its my world or the server?

[2016-04-28 17:58] MJRLegends commented on #272
Well reinstall the mod pack dont mess around with adding mods and test then

[2016-04-28 21:08] RikB15 opened #274 "Crash reports at startup"
Hello MJR,

Me and a couple of friends set up this Space astronomy server 18 days ago. We have played on this server until yesterday night around 0:15. But when my friend wanted to start the server this morning, it crashed. We have never had issues with it so it was pretty much a surprise for us. This is the crash reports from this morning:

http://pastebin.com/5u8pKyp3

When i tried to start it i

[2016-04-28 21:13] MJRLegends commented on #274
See known issues or see #218

[2016-04-28 21:13] #274 closed

[2016-04-28 21:14] MJRLegends commented on #262
Idk then if you cant reproduce it im not sure

[2016-04-28 21:14] MJRLegends commented on #262
Can you sent me a copy of the world

[2016-04-28 21:14] #267 closed

[2016-04-28 21:14] MJRLegends commented on #259
I will reopen this issue if a reply is made

[2016-04-28 21:15] MJRLegends commented on #261
I will reopen this issue if a reply is made

[2016-04-28 21:15] #261 closed

[2016-04-29 03:57] Triaxx2 commented on #272
That seems to have done the job. Thanks.

[2016-04-29 22:28] Elvi81 opened #275 "1.4.3 Fronos crash"
Server crash report
http://pastebin.com/16mxYY60

[2016-04-29 22:34] MJRLegends commented on #275
From the crash log i can see you are getting some network packet issues, these might be the main cause of the crash...

[2016-04-29 22:44] Elvi81 commented on #275
I don't see how and it only happens on fronos + the server pc is almost next to me, and yet the same thing happens to other players.

[2016-04-30 07:27] NoGooodUsernames opened #276 "Unknown Issue with loading world"
I don't know anything about reading bug reports, so sorry if this issue has been resolved before. I was able to play on Sunday April 24 just fine and I haven't played since then so I don't know if there was an update. I play through Curse Launcher, pack version 1.4.3. I did try removing and updating Ender IO and AE2 like it says on the bottom

Crash Report:
---- Minecraft Crash Report ----
// Why

[2016-04-30 07:30] MJRLegends commented on #276
Look on the known issues page this is already there

[2016-04-30 07:30] #276 closed

[2016-04-30 07:31] MJRLegends commented on #275
Well im not making it up but there's network issues in your log you have posted

[2016-04-30 10:04] Elvi81 commented on #275
Just to make sure it's not that i copied the server files to my local computer and ran it, same deal, NOT network related, still testing on what could cause this.
Singleplayer isn't affected.

[2016-04-30 10:06] MJRLegends commented on #275
The good news for you is my server is getting it to, so im looking in to it

[2016-04-30 10:20] Elvi81 commented on #275
I probably should add that i'm using Thermos-1.7.10-1614-56-server as the server jar.
1 extra mod, Morpheus-1.7.10-1.6.21, sleeping mod.
Plugins include AutoSaveWorld, Essentials, EssentialsChat, EssentialsGroupManager ,EssentialsSpawn and PurpleIRC.

[2016-04-30 14:47] Elvi81 commented on #275
I forgot about the crash report folder files but here's the latest one and i'm gueesing it's similair to the one you had.

http://pastebin.com/WgrcK1Qf

[2016-05-01 16:18] NicroDeath opened #277 "Unable to launch"
http://pastebin.com/m2TLwRPk (Changed to a pastebin link by MJRLegends)

[2016-05-01 16:41] MJRLegends commented on #277
What the hell do you expect me to do something with this???? One you have gave no details on what your doing and using and you are ignoring the rule of using pastebin for logs.

[2016-05-01 16:47] NicroDeath commented on #277
Oh, sorry. It's my first time I have problems with MC or modpacks.
When I click "Play" on the launcher it disappears and after 1 sec it reappears with this error.
Not even get to the classic minecraft screen.

Again sorry for not giving info :c

[2016-05-01 16:49] MJRLegends commented on #277
Reinstall the mod pack, and if it still fails then try a different mod pack to see if that works

[2016-05-01 16:55] MJRLegends commented on #272
Glad its fixed :P

[2016-05-01 16:55] #272 closed

[2016-05-01 16:58] NicroDeath commented on #277
I'm trying a different mod pack on curse.
I keep you informed.

[2016-05-01 17:08] NicroDeath commented on #277
I've tryed another mod pack and it works.
Only your pack makes problems :c

[2016-05-01 17:08] NicroDeath commented on #277
I've also tryed to reinstall several times the modpack but still not works

[2016-05-01 17:08] MJRLegends commented on #277
Have you tried to reinstall it

[2016-05-01 17:10] MJRLegends commented on #277
Post the full log using pastebin

[2016-05-01 17:10] NicroDeath commented on #277
I've also tryed to reinstall it several times but it still not work

[2016-05-01 17:20] NicroDeath commented on #277
http://pastebin.com/PBGgz0Xv

I also add u a screenshot of the launcher.
https://gyazo.com/c8a1ecb436d8dea672a795120b031bdc

[2016-05-01 17:21] NicroDeath commented on #277
I forget this
http://pastebin.com/med9kxue

[2016-05-01 17:21] MJRLegends commented on #277
Please use the curse launcher or the ftb launcher and not the minecraft launcher

[2016-05-01 17:22] NicroDeath commented on #277
When I click play on curse it opens automatically the minecraft launcher

[2016-05-01 17:23] MJRLegends commented on #277
Use one of theses
Curse one: https://clientupdate-v6.cursecdn.com/CurseClientSetup.exe?h=[plugin-minecraft]
FTB one: http://ftb.cursecdn.com/FTB2/launcher/FTB_Launcher.exe

[2016-05-01 17:24] MJRLegends commented on #277
try the ftb one then

[2016-05-01 17:26] NicroDeath commented on #277
I don't find it on the ftb :o
It has a code?

[2016-05-01 17:32] NicroDeath commented on #277
I'm trying on ftb.
I keep you informed.
Ty for your time.

[2016-05-01 18:06] NicroDeath commented on #277
It works c:
Ty for your help <3

[2016-05-01 18:06] #277 closed

[2016-05-01 21:23] CrazyBaffo opened #278 "Local Server Problems"
Hy!
Me and my brother start a new local server. When we try to craft items not vanilla the crafting doesn't work. Any ideas? We have downloaded the server from ftb launcher. Have a nice day!

[2016-05-01 21:29] MJRLegends commented on #278
Any chance those items are tools?

[2016-05-02 05:04] CrazyBaffo commented on #278
Yeah, for example i can't craft the crafting table from tinker's construct
mod
Il 01/mag/2016 11:29 PM, "MJRLegends" <notifications@github.com> ha scritto:

[2016-05-02 06:06] MJRLegends commented on #278
You can craft it are you sure your doing it right. Check nei for recipe

[2016-05-02 16:24] MJRLegends opened #279 "OFFICIAL SERVER DOWN!!"
Theres issues with the server on the hosting companies side and the server wont start. Im trying to fix it....

Check back here for updates on the issue...

Sorry that its down :(

[2016-05-02 21:18] TwinMos commented on #279
:( that's very bad and sad :(

[2016-05-02 21:18] MJRLegends commented on #279
Yep the people that can fix it are not available atm so we just have to wait it out

[2016-05-02 21:31] Rainewood commented on #279
Seems pretty irresponsible on the part of the host, not having tech support at all available. Hopefully they get it fixed soon :/

(ObsidianFox from the server)

[2016-05-02 21:33] MJRLegends commented on #279
They have a lot of staff but the issue is to do with something that only limited people have access to....

[2016-05-02 21:34] TwinMos commented on #279
crap... so sad...
P.S. Fox, your chest in the hub is full with glowstone. *shy* i went to nether in the morning... :D

[2016-05-02 21:35] MJRLegends commented on #279
It will hopefully be back online within in the next 24hrs....i cant really say much more than that :)

[2016-05-02 21:38] Rainewood commented on #279
I'd hope sooner rather than later :) Thanks Mos, I've got a big plan to teardown my base and reconstruct it though, so it'll probably stay there for a couple days.

[2016-05-02 21:40] TwinMos commented on #279
wow.. I was hoping that this will happen faster... but... we can't do anything with it... :(
may be we move it to you? :) (shy) it's a large chest... :P

[2016-05-02 21:43] Rainewood commented on #279
I can probably shift it with a matter relocator. Once we get on I'll take a look.

[2016-05-02 21:44] MJRLegends commented on #279
Please keep this issue about the server being down and not anything else please

[2016-05-03 04:46] MJRLegends commented on #279
Back online now

[2016-05-03 04:46] #279 closed

[2016-05-03 09:20] Nyxxaa opened #280 "No Mouse Pointer"
Been playing for a while when I noticed that in the ESC menu and on the title screen I have no mouse pointer. I can still select stuff if the mouse highlights it but I  never see the mouse in these screens. Secondly I cannot sprint, I am uncertain as to why this might be.

[2016-05-03 11:49] Guarnika opened #281 "Cant connect to official space astronomy server!!!"
Hello,

I was "kicked" from server and when i try to log back it says (cant resolve host name).
Tryed to log with direct connect and still doest work.
Any idea what can i do to fix it.

ty :)

[2016-05-03 12:09] Rainewood commented on #281
I receive the "unknown host" notice and it looks like the server is offline.

[2016-05-03 12:12] Guarnika commented on #281
Ty for the info, report if you can log back on plz,

[2016-05-03 15:33] MJRLegends commented on #281
Please use this ip address for the time being: 158.69.171.59:25588 because the hosting company fucked up the domain name ip address.

[2016-05-03 15:36] Guarnika commented on #281
MJR ty for the quick replay, im on. :)

[2016-05-03 15:42] johnrobertwilson commented on #280
I'm also experiencing no mouse pointer! using OSX 10.11.4 and FTB launcher

[2016-05-03 15:54] johnrobertwilson commented on #280
Ah, turns out I should've read further and taken the mod author's advice to search closed issues.

https://github.com/MJRLegends/Space-Astronomy-Feedback-/issues/65

https://github.com/MJRLegends/Space-Astronomy-Feedback-/issues/70

https://github.com/MJRLegends/Space-Astronomy-Feedback-/issues/171

This seems to be a bug with another mod.

[2016-05-03 15:54] #280 closed

[2016-05-03 16:16] johnrobertwilson commented on #65
what mod specifically is stopping it? can we see a link so we can go troll them instead? i wanna play this pack so bad but this is a non-starter for me :(

[2016-05-03 19:25] johnrobertwilson commented on #65
on my lunchbreak and found a workaround... it's DragonAPI... type this command in the chat "/checker disable dragonapi"

ganked from this thread: https://www.reddit.com/r/feedthebeast/comments/30xpjk/how_to_turn_off_the_dragonapi_nag/cpwqsvc

[2016-05-03 20:12] MJRLegends commented on #275
Possible fix: try changing the option "load chunk on request" to false in cauldron.yml

[2016-05-03 20:36] zaphrod opened #282 "augment stabilized frame from thermal expansion is not craftable"
this item is a tier 2 augment for pulverizer but i cannot craft it. it does not show any recipe in the NEI when i click it.

[2016-05-04 18:06] Elvi81 commented on #275
So far so good, here's hoping i don't jinx it :P

[2016-05-04 22:58] MJRLegends commented on #281
Fixed please use the proper ip address from now on

[2016-05-04 22:58] #281 closed

[2016-05-04 23:00] MJRLegends commented on #275
@Elvi81 glad my fix is working and yeah i've had this issue because the only way i found to fix it is world edit the blocks out and reset them up

[2016-05-04 23:58] MJRLegends commented on #282
Seems to be fine for me

![](https://i.gyazo.com/90bb8aba4a6bc95bb36d8bfabbf49ae7.png)

[2016-05-05 00:31] MJRLegends commented on #275
I've added this soultion for this issue about the planets crash to the more planets issue post i made and i've added it to the known issues pastebin for the mod pack. So you got any more issues relating to another problem then please make another issue post

[2016-05-05 00:31] #275 closed

[2016-05-05 06:39] zaphrod commented on #282
oh, i might have added some mods that conflicts with the recipe. thanks.

[2016-05-05 07:21] #282 closed

[2016-05-06 03:47] Rainewood opened #283 "Extra Cells 2 Quartz Tank"
I was trying to craft a fluid storage disk for an ME system on the official server. The certus quartz tank is a required piece of this, and is not on the banned interaction list. However, when I attempt to use it in the crafting recipe I get a notice stating that the item is banned and cannot be used. I can't even put them in a trash can, so they're stuck blocking my inventory. Please help!

[2016-05-06 08:34] TwinMos opened #284 "Error :authentification server down"
Hi.
I've tried to use Relocator at Spawn on official server and get a client crash.
Log : http://pastebin.com/VuuMGMui
after I start game again without closing client and get that error. after closing client all works fine.

[2016-05-06 11:32] MJRLegends commented on #283
Now try

[2016-05-06 11:33] MJRLegends commented on #284
If it's saying authentification server down thats a minecraft server issue??

[2016-05-06 12:43] MJRLegends opened #285 "ONCE AGAIN OFFICIAL SERVER IS DOWN!! :("
The server is down once again due to hosting company issues on there side their multicraft control panel is showing "Can't connect to daemon". And there's nothing I can do but wait for them to fix it.... ffs

Sorry thats its down, trust me its starting to annoy me so i know how you feel..

All the downtime for the server in the last week has been because of issues on their side (hosting company)..

[2016-05-06 14:15] TwinMos commented on #284
idk where authentification error occured.

[2016-05-06 15:59] #284 closed

[2016-05-06 15:59] #285 closed

[2016-05-06 21:13] Rainewood commented on #283
Thank you, I was able to craft the fluid storage disk.

[2016-05-06 21:15] #283 closed

[2016-05-07 09:54] Nexey opened #286 "Lag issue on the server"
The official server has a serious lag issue, I apologize if this isn't the correct thead to post this. It doesn't look like it's going to restart. I suspect somebody is doing some derpy things.

[2016-05-07 09:54] #286 closed

[2016-05-07 19:37] Chinthor opened #287 "Server crash on startup"
I've been trying to make this work, starting from Curse files. I now understand that FTB has a server pack, so I'll be trying that. In the mean time, consider this a bit of an FYI.

After eliminating everything that is client side only and causes issues, I still get this error. Process of elimination led me to add in the mods a few at a time. The error only shows when I leave Intelligent Energisti

[2016-05-07 23:10] MJRLegends commented on #287
One use pastebin.com for logs does say here https://github.com/MJRLegends/Space-Astronomy-Feedback-/blob/master/CONTRIBUTING.md and use the server files provided on the ftb launcher and then try this again

[2016-05-09 23:31] Bulbasaur1994 commented on #278
Hey. Not certain if im the only one experiencing this but im not getting the quest book upon loading the world. Also I had to download the modpack differently how do I properly download it and add it to my minecraft game?

[2016-05-10 00:09] MJRLegends commented on #278
Have you used the ftb or curse launcher to download and run the mod pack @Bulbasaur1994

[2016-05-11 20:46] Ozykz opened #288 "Server & Client crashing on startup."
Trying to get a solution for a server and client crashing.

I went through the list, but couldn't find a relevant solution for my issue,

I tried deleting the HQM folder,
I tried running the mod from the FTB launcher,
I haven't disabled the opencomputers mod because when I do It doesn't allow me to load the pack,
I've disabled the chickenloaders mod, with no effect.
Also reverted Immersive Enginee

[2016-05-11 21:46] Ozykz commented on #288
Solved it,

I had to delete both Chickenloaders and EnhancedPortals, then load the game so that it deleted all items relating to both those mods, then I could re-enable those mods and now It's working, just as before.

It definitely had to be both, I tried one and than the other on it's own, and I still didn't work.

I imagine I should avoid using both of those mods, so for now, I will. I don't kn

[2016-05-11 21:46] #288 closed

[2016-05-11 22:25] MJRLegends commented on #288
It is in the known issues section

[2016-05-13 09:49] bendev01 opened #289 "Mouse Disappears even when in Inventory or menu"
I opened the game and I opened my inventory and couldn't see my mouse. I tabbed out and still could not see it. It makes playing the game extremely annoying I am playing on my macbook pro.

[2016-05-13 11:33] MJRLegends commented on #289
Its because your didn't close the update message for dragon api and this has been posted about 1000x times so please check known issues page and closed issues before posting

[2016-05-13 11:33] #289 closed

[2016-05-14 13:33] Williamkers opened #290 "got a extra planets crash"
This is just for my modpack, but I can't find the solution
[crash-2016-05-14_15.09.09-server.txt](https://github.com/MJRLegends/Space-Astronomy-Feedback-/files/264527/crash-2016-05-14_15.09.09-server.txt)

[2016-05-14 17:55] MJRLegends commented on #290
You have put this in the wrong place but the crash is to do with a conflict of dimensions ids. If you require require help with my addon ExtraPlanets then please post it in that issue tracker

[2016-05-14 17:55] #290 closed

[2016-05-25 10:25] johnharry opened #291 "Crashes when interacting with wireless transmitters/receivers (wireless redstone mod)"
http://pastebin.com/n5C2Wayk
I saw that this problem had been posted before but had not been resolved due to lack of info. Sometimes when I right click a transmitter/receiver the game crashes randomly.

[2016-05-25 14:04] MJRLegends commented on #291
Yeah i know, to be honest the mod is crappy so we are changing to ChickenBones's wireless redstone, see change log for v1.4.4

[2016-05-25 16:53] johnharry commented on #291
Ok cool

[2016-05-25 22:50] MJRLegends commented on #291
@johnharry tbh i've been meaning to change the mod for a while but never got around to it but it will be changed in v1.4.4

[2016-05-26 06:28] Prometheus91 opened #292 "Crash Report"
Hello, I play with space astronomy 1.4.3 curse this morning with my world opening crashes, attach the crash report

---- Minecraft Crash Report ----
// There are four lights!

Time: 26/05/16 8.26
Description: Exception getting block type in world

java.lang.NullPointerException: Exception getting block type in world
	at codechicken.chunkloader.ChunkLoaderManager.getPlayerOrganiser(ChunkLoaderManag

[2016-05-26 09:07] MJRLegends commented on #292
Already known issue

[2016-05-26 09:07] #292 closed

[2016-05-26 12:09] Prometheus91 commented on #292
it can not solve?

[2016-05-26 12:33] MJRLegends commented on #292
If you looked at this then you would know what to do,

![](https://i.gyazo.com/6309cbe94d872f0fcf9bce08f2421045.png)

[2016-05-26 12:35] #291 closed

[2016-05-26 12:35] #262 closed

[2016-05-26 12:35] #278 closed

[2016-05-26 12:35] #287 closed

[2016-05-26 22:31] MJRLegends opened #293 "CRASH ISSUE AT SERVER START UP/WORLD LOAD WITH V1.4.4"
Crash log: http://pastebin.com/tK7g8izW

Solutions:

1.  Remove AE2 Stuff completely and not use it
2.   Replace the AE2 Stuff version in your v1.4.4 version with the AE2 Stuff version in that was in v1.4.3 or get the correct version from here http://minecraft.curseforge.com/projects/ae2-stuff/files/2270295

[2016-05-26 22:32] MJRLegends commented on #293
The is a update on its way to fix it (v1.4.5), just waiting on the FTB team to process the update

[2016-05-27 07:49] Beast220 opened #294 "Placing crystal growth accelerator"
Hi,

I don't know if this is a new bug with recent patch, but when I place the crystal growth accelerator the game crashes. I've done this twice now and had the same result.

Thanks

[2016-05-27 09:21] MJRLegends commented on #294
You completely ignored looking at open issues as there one saying this, but update your mod pack

[2016-05-27 09:21] #294 closed

[2016-05-27 09:21] #293 closed

[2016-05-27 09:34] MJRLegends opened #295 "Official Server Down!!!!"
I know the server is down, im trying to get it sorted, but it seems all the companies websites are down and the owner has confirmed hes working on it to get it fixed.

[2016-05-27 09:55] Guarnika commented on #295
Dude, you are on top of things, i came to report it and here you are already.

[2016-05-27 09:56] MJRLegends commented on #295
Yeah i get alerted when my servers go off and that

[2016-05-27 10:07] Guarnika commented on #295
Noticed that 1.4.5 its up for download,

[2016-05-27 10:07] MJRLegends commented on #295
Yeah once the server is back online i will update it

[2016-05-27 10:09] MJRLegends commented on #293
If your still getting this problem update to v1.4.5

[2016-05-27 10:14] MJRLegends commented on #269
@snickering please retest with v1.4.5

[2016-05-27 19:43] Guarnika commented on #295
Any clue if it will be back up today?

[2016-05-27 19:53] MJRLegends commented on #295
No idea the owner said he was trying to fix it, but hasn't been fixed yet

[2016-05-27 21:12] bravenlord commented on #295
BRAVENBUCKS IS DOWN FOREVER!!!!!!!!!!!!!!!!!! NO!!!!!!!!!!!!!!!!!!!!!!!!!!

[2016-05-27 21:31] MJRLegends commented on #295
SERVER IS BACK ONLINE YAYAYAYAYAYAY

[2016-05-27 21:31] #295 closed

[2016-05-30 13:55] MJRLegends opened #296 "Official Server down!"
Will keep you updated but atm the problem is once again on the hosting company side

[2016-05-30 16:17] bravenlord commented on #296
omg I fricking hate the server company

[2016-05-30 16:26] bravenlord commented on #296
serves up

[2016-05-30 16:28] MJRLegends commented on #296
Yeah server is now online

[2016-05-30 16:28] #296 closed

[2016-05-30 16:28] bravenlord commented on #296
I've been griefed

[2016-05-30 18:45] bravenlord commented on #296
dude ill stop

[2016-06-02 11:37] MJRLegends commented on #250
@Spellkaze the solution is in for this https://github.com/KaiKikuchi/GriefPreventionPlus/issues/89

[2016-06-02 21:39] Spellkaze commented on #250
No, it does not seem to work, i mean, even with autotrust or , or even in not claimed zones the enhaced don't take the blocks and build or with the fake player #OpenModsFakePlayer trusted

[2016-06-02 21:39] MJRLegends commented on #250
How weird

[2016-06-02 21:42] xX-Gigi-Xx opened #297 "Crash on loading world"
Hi. I am Italian and play with your fantastic pack ... Sorry for my wrong English... Yesterday I updated the pack to version 1.4.5... Yesterday I played normally and the game did not give problems. Today, this morning, I play normally and without problems after playing for 2 hours but this night launch the Modpack and when load the world, game crash. reading the report, PERHAPS, the crash is becau

[2016-06-02 21:43] MJRLegends commented on #297
Look at the known issues as this has been posted 1000x times

[2016-06-02 21:43] #297 closed

[2016-06-02 21:45] xX-Gigi-Xx commented on #297
please help me.. i don't know to clear the error

[2016-06-02 22:45] majorpayne0055 opened #298 "Mekanism isn't transferring power through Tesseracts"
Ever since the new Mekanism update, I've been having trouble with mekanism transferring power through Tesseracts. I have 4 sources of power all set to the same private tesseract channel (Big Reactor turbines, Mek solar panels, Mek reactor and Mek gas generators. The power goes to a Mek Induction Matrix with another tesseract transferring power out as needed. Prior to the update, all 4 power source

[2016-06-02 22:46] MJRLegends commented on #298
I think its mekanism see https://github.com/aidancbrady/Mekanism/issues/3252 and https://github.com/aidancbrady/Mekanism/issues/3303 and https://github.com/aidancbrady/Mekanism/issues/3314

[2016-06-02 22:59] majorpayne0055 commented on #298
Tried the Ender IO cable fix and it looks like it's working now. Must be a glitch with Mekanism universal cables and Tesseracts.

[2016-06-04 14:16] kiri970 opened #299 "Mouse vanishing"
When i open my inventory or pause menu, my mouse vanish and it's hard to play. Any solution?

[2016-06-04 14:33] LycanBlackpaw opened #300 "Crash on launch"
...Honestly I have no idea why this happens. Usually I'm good at this.

Whenever I start up the pack, it'll appear to load fine until it reaches the menu-then java will crash and I'll get sent back to the launcher.

Using the Curse launcher, version 1.4.5 of the pack.

Log attached.
http://pastebin.com/0LYx2saJ

EDIT:
Decided to try loading it through FTB, to see if it was a launcher-based issue.

[2016-06-04 14:44] WalaoEgg0424 commented on #299
kiri970 , press ctrl then click 'x' on the dragonapi update  , then pointer is back . Its magic :)

[2016-06-04 14:46] kiri970 commented on #299
@WalaoEgg0424 everytime i try to do that the X button can't be clicked. I click on it but nothing happen

[2016-06-04 14:47] WalaoEgg0424 commented on #299
did u press ctrl and click on the X ?

[2016-06-04 14:49] kiri970 commented on #299
@WalaoEgg0424 yes but the message doesn't disappear

[2016-06-04 14:50] WalaoEgg0424 commented on #299
@kiri970 its weird lul, using windows or mac or linux?

[2016-06-04 14:50] kiri970 commented on #299
Mac

[2016-06-04 14:55] kiri970 commented on #299
@WalaoEgg0424 apparently when i click while pressing ctrl, my mac thinks that i'm right clicking...

[2016-06-04 14:56] WalaoEgg0424 commented on #299
@kiri970 this is a known issue and only way to disable it is go to your curse modpack folder , find space astronomy , go to config/Reika/DragonAPI.cfg , find control setup , there will have show update notification for ops or wutever , change true to false. boom magic

[2016-06-04 14:56] kiri970 commented on #299
@WalaoEgg0424 thank you!

[2016-06-04 15:00] WalaoEgg0424 commented on #299
@kiri970 and @MJRLegends is trying to find a permanent fix for this 8 months ago. Mac OS's ctrl key is different with Windows's ctrl key , so the mod cant really read it as windows ctrl. You can see info in this issue posted at reika's github.
https://github.com/ReikaKalseki/Reika_Mods_Issues/issues/317

[2016-06-04 15:06] WalaoEgg0424 commented on #300
@LycanBlackpaw this is not really a crashlog lel but i'll look through it

[2016-06-04 15:13] WalaoEgg0424 commented on #300
@LycanBlackpaw this need our pro @MJRLegends to look through it , too hard to scroll through it to end on my phone. I can only see tons of texture errors on the end of logs.

[2016-06-04 15:14] LycanBlackpaw commented on #300
@WalaoEgg0424 That's the only error I could see. The game itself doesn't seem to be breaking-it's something to do with Java, but I have no idea what and haven't seen anything similar.

Yay for Java being all kinds of derp.

[2016-06-04 15:17] WalaoEgg0424 commented on #300
@LycanBlackpaw maybe disable the forge loading menu work? I googled it and it shows that disable it fix it.

[2016-06-04 15:22] kiri970 commented on #299
@WalaoEgg0424 I solved it downloading a programm called "Karabinier" were you can change ctrl+left click= Right click in ctrl+Left click=Left click.

[2016-06-04 15:23] LycanBlackpaw commented on #300
...Holy crap it worked. Yay.

So...Future reference material in case this happens to anyone else:
Edit server.properties in the Config file, changing 'Enabled' from true to false.

[2016-06-04 15:24] WalaoEgg0424 commented on #299
@kiri970 nice , but it might not a solve for others. Glad that u found a way to solve it.

[2016-06-04 15:25] WalaoEgg0424 commented on #300
@LycanBlackpaw server.properties or splash.cfg ?

[2016-06-04 15:29] WalaoEgg0424 commented on #300
@LycanBlackpaw its splash.properties :)

[2016-06-04 15:56] kiri970 commented on #299
Thank you a lot for your help btw!

[2016-06-04 22:32] #299 closed

[2016-06-06 05:46] tokinGanja commented on #259
Appologies, Love your modpack, but it seems i am having this exact issue, and restarting MC does work sometimes, But it's only me, and disabling fastcraft works but it wont let MC run more than 1-4 Fps, is there a setting i could change or add to the cfg file to fix it, or a shader pack i could add to counter it?

[2016-06-06 05:49] WalaoEgg0424 commented on #259
@tokinGanja what graphic card are u using?

[2016-06-06 05:51] tokinGanja commented on #259
AMD radeon hd 4850 x2

[2016-06-06 05:53] WalaoEgg0424 commented on #259
@tokinGanja maybe turn all of the settings to lowest?

[2016-06-06 05:55] WalaoEgg0424 commented on #259
@tokinGanja btw ur graphic card is hard to run the modpack for a 60fps or more. If can , buy a new graphic card so that it runs smooth on every modpack.

[2016-06-06 05:56] WalaoEgg0424 commented on #259
@tokinGanja This is your graphic card compare to my old crappy graphic card.
http://gpuboss.com/gpus/Radeon-HD-4850-X2-vs-GeForce-GT-630

[2016-06-06 05:58] tokinGanja commented on #259
true buteven everything at the lowest i get 1-4
Fastcract makes it run but if i disable integrated circuits i get Java null pointer exception.

[2016-06-06 06:00] WalaoEgg0424 commented on #259
@tokinGanja lower all settings , play on super small windowed mode , close anything that eats gpu or ram.

[2016-06-06 06:01] tokinGanja commented on #259
and on single player i get no issue unless i craft with this mod, i can even disable fastcraft with no issue, but i play on the devco space astronomy server.

Ok i'll shrink my window a bit more but it's already at 640x480

[2016-06-06 06:03] WalaoEgg0424 commented on #259
@tokinGanja u mean u get low fps in server when remove fastcraft , crash in server when u delete IC. In singleplayer , runs ok when removing fastcraft + IC?

[2016-06-06 06:07] tokinGanja commented on #259
no when i remove ic it crashes on server, when i remove fastcraft it gets 1-4 fps single player and 0-2 on the server. if i enable both i get the shader error, if i disable both runs fine single player, and does not load the server, so is there a fix i can do that affects my tower independent of the server?

Also what card would you recommend

[2016-06-06 06:09] WalaoEgg0424 commented on #259
@tokinGanja my advice is buy a new graphic card. maybe @MJRLegends can help with increasing fps but its hard when it comes to your graphic card cant get high fps.

[2016-06-06 06:10] tokinGanja commented on #259
yeah but fastcraft is the miracle there.

[2016-06-06 06:11] WalaoEgg0424 commented on #259
@tokinGanja if u want best graphic card then gtx 1070/1080 xDD but average then gtx 970 or gt 630 or higher. My nvidia gt630 can run a smooth 120 fps on this modpack.

[2016-06-06 06:12] tokinGanja commented on #259
makes me sometimes get a full 75-150 fps when both are enabled, but i always wait to get the shader error. sometimes it never happens, and i'll start looking to buy a new one because a steady 120 fps without the risk of crashing is great.

[2016-06-06 06:16] tokinGanja commented on #259
thanks for the advice, if you stumble across anything or MJRLegends knows of a current fix it would be fantastic though, and i'll still post the log if it happens again, might help, should i post my DXDiag too?

[2016-06-06 06:17] WalaoEgg0424 commented on #259
@tokinGanja btw how much ram u put for the modpack?

[2016-06-06 06:17] tokinGanja commented on #259
got it set to 3.25 of 8.0

[2016-06-06 06:18] tokinGanja commented on #259
leaves 5.75 to operations

[2016-06-06 06:19] WalaoEgg0424 commented on #259
@tokinGanja i put 4gb of 8gb ram :) , try it , if u still gets low fps , then gpu stuff maybe.

[2016-06-06 06:20] tokinGanja commented on #259
it runs everything up to shader model 4.9 with no issue, even skyrim, diablo 3, dead space and a lot of newre games on ultra graphic settings

[2016-06-06 06:20] tokinGanja commented on #259
i'll give it a go really quick, havent gotten the shader error so far...

[2016-06-06 06:21] tokinGanja commented on #259
try it with fastcraft disabled?

[2016-06-06 06:21] WalaoEgg0424 commented on #259
@tokinGanja damn u sure ur graphic card is AMD radeon hd 4850 x2 , even my graphic card cant even run BO3 on ultra low graphic settings, only 20-40fps

[2016-06-06 06:22] tokinGanja commented on #259
i use the amd overdrive setting on new games.

[2016-06-06 06:23] tokinGanja commented on #259
integrated controlled overclock software for the twin gpu

[2016-06-06 06:23] tokinGanja commented on #259
1 sec

[2016-06-06 06:27] tokinGanja commented on #259
![dxdiag](https://cloud.githubusercontent.com/assets/7274548/15813581/2a9d7350-2b8e-11e6-90a5-c33e59a9b3b9.png)

[2016-06-06 06:31] WalaoEgg0424 commented on #259
@tokinGanja do u have skype? it will be more easier to solve it :)

[2016-06-06 06:34] tokinGanja commented on #259
yes i do.

[2016-06-06 06:35] WalaoEgg0424 commented on #259
@tokinGanja yimer1821

[2016-06-06 06:36] tokinGanja commented on #259
there u go.

[2016-06-06 07:09] #300 closed

[2016-06-06 08:49] tokinGanja commented on #259
crash just happened Posting the log as .txt, The crash instance is toward the bottom.

[FTB log.txt](https://github.com/MJRLegends/Space-Astronomy-Feedback-/files/300011/FTB.log.txt)

[2016-06-06 13:13] MJRLegends opened #301 "OFFICIAL SERVER DOWN"
i know its down, the issue is on the hosting side.........................

[2016-06-06 15:17] demone775 commented on #301
when the server restart ?

[2016-06-06 15:18] MJRLegends commented on #301
Idk

[2016-06-06 15:19] demone775 commented on #301
sorry but I don't know what it means

[2016-06-06 15:45] MJRLegends commented on #301
Idk = i dont know

[2016-06-06 16:06] demone775 commented on #301
thanks

[2016-06-06 16:38] MJRLegends commented on #301
not really much i can do from my side we just have to wait....

[2016-06-06 20:41] Spellkaze commented on #298
Just as an extra, If the power output rate is not enough, you can always try the aluminum cables from galacticraft

[2016-06-06 22:33] MJRLegends commented on #269
i will reopen if it still happens @snickering

[2016-06-06 22:33] #269 closed

[2016-06-07 02:21] tokinGanja commented on #259
is there a shader mod that would fix it for an AMD card?

[2016-06-07 11:02] Unistic commented on #250
The Open Block Enhanced Building Guide has never worked on any server that I've ran or played on. It seems to only work on single player. The reason that I gather is because before placing a block it checks to see if the player is set to OP. In single player you are OP that's why it works. On a server you wouldn't be so it doesn't work. That's my opinion. Some people just think there's a server pl

[2016-06-07 20:52] Sheefou opened #302 "Stuttering Mouse."
So I loaded the modpack in a single player world and removed fastcraft (Causes problems with my PC) and updated DragonAPI but as i attempt to look around the looking position continues to reset to a point making the game unplayable

[2016-06-08 01:46] WalaoEgg0424 commented on #302
@Sheefou why you wanna update dragonapi? MJRLegends choose not to update it has his own reason.

[2016-06-08 02:42] Sheefou commented on #302
updated to remove the annoying update message but even before then I still had the same issue

LividJava

On Tue, Jun 7, 2016 at 9:46 PM -0400, "WalaoEgg0424" <notifications@github.com> wrote:

@Sheefou why you wanna update dragonapi? MJRLegends choose not to update it has his own reason.

---
You are receiving this because you were mentioned.
Reply to this email directly or view it on GitHub:
htt

[2016-06-08 02:49] WalaoEgg0424 commented on #302
@Sheefou make a backup world , then try install the modpack again. btw u using windows or mac?

[2016-06-08 03:24] Sheefou commented on #302
Windows

[2016-06-08 03:40] WalaoEgg0424 commented on #302
@Sheefou this might need @MJRLegends to solve it

[2016-06-08 06:20] Geekerandy commented on #301
Really quick question out of curiosity due to the fact that I am starting a youtube series in singleplayer but I may try the multiplayer server for my youtube series as well: When can you expect the constant braking down on the host to slow down or stop?

[2016-06-08 16:35] MJRLegends commented on #301
Its not my fault i don't host it myself and a few times

[2016-06-08 18:27] TheDumAmerican opened #303 "Atomic Disassembler quest not working"
As the title states unable to complete the Atomic Disassembler quest in Chapter 5. I saw this was fixed a long time ago https://github.com/MJRLegends/Space-Astronomy-Feedback-/issues/28 but it seems to have come back. Tried crafting in different tables/with to no avail. May not be connected but I noticed there is 2 : after mode instead the usual 1.

[2016-06-08 18:37] aophipps0927 opened #304 "Mouse Disappearing"
When I left click my quest book, my mouse disappears. By the way, I'm on Mac.

[2016-06-08 18:40] copperkenny opened #305 "Fuel Canister not being Detecting in HQM"
I have collected two buckets of oil, made a Refinery and have gotten that far. I refined Ground pumped Galacticraft oil into Gasoline then filled the Canister but the Quest still says Filled Fuel Canister: 0/1

The ID of the can is 5801:1

[2016-06-08 18:52] copperkenny commented on #305
Solution found.

[2016-06-08 18:52] #305 closed

[2016-06-08 21:26] MetalBerto commented on #303
I confirm that. I have the same issue

[2016-06-08 21:32] MetalBerto opened #306 "Coal dust not recognized in the induction smelter"
Hi! I've tried to make refined iron ingot in the induction smelter, wich requires 1 iron ingot and 2 coal dusts. When i try to do that the machine doesn't allow me to put the coal dust in neither of the 2 input slot. Hope you can solve it! Thank you!

[2016-06-08 22:40] MJRLegends commented on #301
Look im really trying my best to get the server back online but i have no access to fix anything and its taking ages to get fixed atm. but im really trying sorry :(

[2016-06-08 22:41] MJRLegends commented on #302
did you close this https://gyazo.com/77526ea4181c36ba6608f6ea53a68c82 ?

[2016-06-08 22:41] MJRLegends commented on #304
did you close this https://gyazo.com/77526ea4181c36ba6608f6ea53a68c82 ?

[2016-06-08 22:42] MJRLegends commented on #306
Use the other ways to make it then?

[2016-06-08 22:44] #250 closed

[2016-06-08 22:44] #298 closed

[2016-06-08 22:45] Geekerandy commented on #301
Oh no, I didn't mean to criticize. I admit I have had some horrible times with setting up servers.

[2016-06-08 22:46] MJRLegends commented on #301
@Geekerandy i know, its just i cant fix it because its not on my side to fix

[2016-06-08 23:30] Geekerandy commented on #301
I hate it when a host that you need breaks down. It's like a person who you need to work with can't actually do the job.

[2016-06-08 23:40] Sheefou commented on #302
@MJRLegends yes i did same problem occured

[2016-06-09 03:49] aophipps0927 commented on #304
I cannot click it, it won't let me

[2016-06-09 03:57] aophipps0927 commented on #304
Also that box pops up every time I boot up the game

[2016-06-09 04:02] WalaoEgg0424 commented on #304
@aophipps0927 this is a known issue for Mac users .
https://github.com/MJRLegends/Space-Astronomy-Feedback-/issues/299

[2016-06-09 09:30] rotatori commented on #306
well i had the sanìme problem to solve it you need to take the coal dust and make a hydratated the cook the hydratated coal and you will have the industrialcraft coal dust which works for the induction smelter

[2016-06-09 12:33] tokinGanja commented on #259
Found something new so far, optifine does work client side without interference to the server. it's not a complete fix, but it does allow play-ability, drawback is a frame rate hit, i haven't re-enabled animations and everything else yet, but it seems the only setting that changes whether or not this shader compatibility error crashes OpenGL, is by using optifine's algorithm by enabling fast rende

[2016-06-09 15:39] MJRLegends commented on #301
Server is back online

[2016-06-09 15:39] #301 closed

[2016-06-09 23:11] MetalBerto commented on #306
@rotatori thank you for your tip!
@MJRLegends sure! i just wanted to let you know this issue. thank you!

[2016-06-10 01:23] mike18001 opened #307 "Game freezing when I scroll through or type "Mekanism" into NEI"
For some reason, when I scroll through an item in NEI, it seems to freeze my client. It seems to be in the Mekanism area, cause when I scroll through NEI and manage to reach the Mekanism area, my game freezes.

[2016-06-10 01:25] BrightBotTeam opened #308 "Large lines of chunks not loading/rendering"
Likely a mod bug. Whenever I load into a world, most of the nearby chunks are loaded, but there will always be one large line of broken chunks that are just the empty black areas with no end. Reloading fixes those chunks, then I'll be going along my business only to discover a new area of broken chunks.

Possibly due to my shitty computer. No additional mods. Recommended version.

[2016-06-10 01:26] MJRLegends commented on #308
Yeah probably your computer not loading it, try install OptiFine

[2016-06-10 01:28] MJRLegends commented on #307
Yeah this is because its loading the tanks solutions:
1. Just let it load and wait to it stops freezing
2. Dont type @Mekanism and be more selective with what you type

Its being fixed in the next version anyways(check change log)

[2016-06-10 01:28] #307 closed

[2016-06-10 18:28] JerichoTitan opened #309 "I cant see my mouse in the game"
I cant find my mouse when playing in the modpack please help

Example: I cant see it in my inventory,quest book

[2016-06-10 18:52] MJRLegends commented on #309
Look at already posted issues, #306

[2016-06-10 18:52] #309 closed

[2016-06-10 18:53] #304 closed

[2016-06-11 17:35] JerichoTitan opened #310 "Cannot Play modpack with Dragon API version 14d"
I cannot play the modpack with this mod so I'm removing it. Also I can not find  ChromaticCraft in the system to fix the problem

[2016-06-11 17:57] DNGDynamo opened #311 "Please help..."
Well when i start the modpack im in the main menu of course but then when i go in my single player world then the mouse becomes totally invisible and its hard to close it and i cant move it outside my window and i tried playing in fullscreen

[2016-06-11 21:19] MetalBerto commented on #311
Try to press and hold the ctrl key for a few seconds

[2016-06-11 21:30] Nikitka535 opened #312 "Crash when loading the world."
http://pastebin.com/AmJkm9GN

[2016-06-11 22:22] Carlino01 opened #313 "NEI/Mekanism crash"
when you search fo "mekanism" or just "tank" in the NEI, micraft wil crash, probably cuse of the large amount of tanks from mekanism

[2016-06-11 22:38] #313 closed

[2016-06-11 22:49] MJRLegends commented on #310
Dont add mods or change mods in the mod pack then

[2016-06-11 22:49] #310 closed

[2016-06-11 22:50] MJRLegends commented on #311
Read all the other 10000 posts like this, before posting

[2016-06-11 22:50] #311 closed

[2016-06-11 22:50] MJRLegends commented on #312
You couldnt of gave me any less information about your issue, if you tried!!

[2016-06-11 22:58] MJRLegends commented on #313
See change log and look at already posted issues before posting one again please otherwise i  just end up with loads of the same issue

[2016-06-11 22:58] #308 closed

[2016-06-11 22:59] #306 closed

[2016-06-11 22:59] #302 closed

[2016-06-11 23:06] MJRLegends opened #314 "GOT INVISIBLE MOUSE READ THIS!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!"
Right im sick of people posting the same issue over and over so im making this one

look at all these other 10000 issues that have been posted before, i know what the issue is and there nothing i can do. If your on a mac then your issue is worse and on windows the issue doesnt happen if you close the update notification when your in game and the top right

#65
#171
#289
#299
#304
#68
#310

[2016-06-12 06:51] Neyrali commented on #312
it's happens to me to

[2016-06-12 07:05] Neyrali commented on #312
at the moment i solved by removing chichenk chunks

[2016-06-12 08:27] Nikitka535 commented on #312
And what kind of details do you need?

[2016-06-12 10:21] Nikitka535 commented on #312
Log: http://pastebin.com/HikYYw0h

[2016-06-12 10:36] dyinglights opened #315 "Crash on world loading."
Hi all, I tried reading through the previous issues but I am just too dumb at java to know if this is an old issue or not.
I recently made a maximum sized quarryplus (256*256) with silk touch, efficiency and un-breaking enchantments. When i placed the quarry down on the boundary set by the markers my client crashed, it booted fine just had a bit of lag.
I then used chickenchunks chunk loaders both

[2016-06-12 10:46] WalaoEgg0424 commented on #315
@dyinglights it is a known issue.

7. ChickenChunks Chunkloaders - https://github.com/MJRLegends/Space-Astronomy-Feedback-/issues/221 & https://github.com/MJRLegends/Space-Astronomy-Feedback-/issues/218 - (This is a mod bug) Reported in v1.3.7!
Solution 1: Remove the ChickenChunks mod
Solution 2: Use MCEdit to remove them from your world (Should say the blocks coords in the crash log)

[2016-06-12 11:26] dyinglights commented on #315
Thanks! removing ChickenChunks seems to let me play. quarry is also working without the need to be chunkloaded as well, its pretty great!

[2016-06-12 11:27] WalaoEgg0424 commented on #315
@dyinglights your welcome :)

[2016-06-12 20:56] #315 closed

[2016-06-13 03:46] killerkitt opened #316 "AE2 Advanced inscriber issue"
---- Minecraft Crash Report ----
// Shall we play a game?

Time: 6/12/16 10:45 PM
Description: Ticking block entity

java.lang.NoSuchMethodError: appeng.api.features.IInscriberRegistry.getRecipes()Ljava/util/List;
	at net.bdew.ae2stuff.machines.inscriber.TileInscriber.findFinalRecipe(TileInscriber.scala:128)
	at net.bdew.ae2stuff.machines.inscriber.TileInscriber$$anonfun$1.apply$mcV$sp(TileInscrib

[2016-06-13 03:47] killerkitt commented on #316
this happens wehn i place down the advance inscriber from AE2
yes i know there are some added on mods but that shouldnt cause the issue

[2016-06-13 17:04] MJRLegends commented on #316
what version of the mod pack you using?

[2016-06-13 17:13] MJRLegends commented on #303
will look at it soon

[2016-06-13 18:00] MBTKemz opened #317 "World crashes"
Hello, I just started this pack. It went fine for a few days but now I get the crash when I wanted to play mu world. it says server closed and then it just closes the client. Here's the log file from the console, Hope you guys could help me

http://paste.feed-the-beast.com/view/9b4cf851

Crash log: http://pastebin.com/YvRR2W4X (Taken from the log above by MJRLegends)

[2016-06-13 23:00] killerkitt commented on #316
i believe i am on 1.4.5

[2016-06-14 12:36] ZStefanos opened #318 "Most likely not the modpacks fault.But still...."
Whenever I try to launch it, the console just disappears and then reappears without the game actually launching.

[2016-06-14 12:38] WalaoEgg0424 commented on #318
@ZStefanos can you pastebin the latest log of the launcher?

[2016-06-14 12:40] MJRLegends commented on #318
Not a mod pack bug

[2016-06-14 12:40] #318 closed

[2016-06-14 15:47] MJRLegends commented on #316
From looking at the mods said in your crash log you have edited the mods in the mod pack so delete the mod pack and reinstall for the v1.4.5

[2016-06-14 15:47] #316 closed

[2016-06-14 15:50] MJRLegends commented on #317
Make a backup of your player data for that world then try to delete the player data and retest then

[2016-06-14 15:52] MJRLegends commented on #312
@Nikitka535 information like what were you trying to do? single player or multiplayer server? are you in a open area or are you near your base so there will be machines around?

[2016-06-14 22:30] Pjtomas opened #319 "Can't move"
So, been playing your mod for a couple weeks now and all was going good, till today, i logout last night and all was fine, today when i log into my world, i can't move, every key i press changes the minimap aspect from day to night and caves, every single key in my keyboard does that, well all but esc and M, wich opens the galaxy map, all rest does the same...so dunno whats going on.

[2016-06-14 22:37] MJRLegends commented on #319
Check your controls?  Or try to reinstall the mod pack

[2016-06-14 22:38] Pjtomas commented on #319
yep, controls are all fine, reset everything and put all at none, left only movement ones and still same, already did force install mods on the launcher twice.

[2016-06-14 22:39] MJRLegends commented on #319
Does it do it only in one world or every world

[2016-06-14 22:39] Pjtomas commented on #319
only have 1 world..., ill try create a new one, brb

[2016-06-14 22:39] MJRLegends commented on #319
Kk

[2016-06-14 22:41] Pjtomas commented on #319
does the same

[2016-06-14 22:41] MJRLegends commented on #319
Do the keys work normally in the OS?

[2016-06-14 22:42] Pjtomas commented on #319
os?

[2016-06-14 22:42] Pjtomas commented on #319
u mean like the options? to set them up and all that?, if so they do work fine there

[2016-06-14 22:43] Pjtomas commented on #319
or unless u mean operation system, ahhaha ok brain freeze here

[2016-06-14 22:43] Pjtomas commented on #319
yeah all good, win7 here

[2016-06-14 22:44] MJRLegends commented on #319
Ok do they work in a different mod pack?

[2016-06-14 22:44] Pjtomas commented on #319
all working fine, google, youtube, here, all fine, just ingame does that, and last night i played fine

[2016-06-14 22:44] Pjtomas commented on #319
ok let me try then, brb

[2016-06-14 22:44] MJRLegends commented on #319
ok

[2016-06-14 22:48] Pjtomas commented on #319
ok, just tested blastoff, is the other mod pack im playing and works fine

[2016-06-14 22:48] Pjtomas commented on #319
u want me to test some mod pack more recent maybe?

[2016-06-14 22:53] Pjtomas commented on #319
sky factory works fine also

[2016-06-14 22:55] MJRLegends commented on #319
umm how weird....

[2016-06-14 22:56] MJRLegends commented on #319
have you tried making a backup of your world (other wise you will lose it after this next step!!!) and then manually deleting the mod pack files and reinstall it

[2016-06-14 22:57] Pjtomas commented on #319
damn ok lol

[2016-06-14 22:57] Pjtomas commented on #319
brb, sry was having a smoke

[2016-06-14 22:59] Pjtomas commented on #319
oh...just crashed the game, tried to test it again, because i put it force update the mods again, went to my world now, tried to move and showed a msg shutting server off, and game crashed

[2016-06-14 23:01] Pjtomas commented on #319
last night i build a little base underwater, and logged out there, dunno if anything mathers to this issue, but tought i would report that

[2016-06-14 23:02] MJRLegends commented on #319
please try what i said above

[2016-06-14 23:09] Pjtomas commented on #319
ok so, i deleted everything in the mods briefcase and installed all again, still doing the same

[2016-06-14 23:10] MJRLegends commented on #319
you need to delete the whole mod pack stuff not just the mods

[2016-06-14 23:11] Pjtomas commented on #319
ohhhhh kk sry m8, didnt got the part was everything, kk brb then again, sry about that

[2016-06-14 23:17] Pjtomas commented on #319
ok all working fine with a new world, try now restore there my world?

[2016-06-14 23:18] MJRLegends commented on #319
yeah can do

[2016-06-14 23:20] Pjtomas commented on #319
woottt,  world all good, i can move again

[2016-06-14 23:21] MJRLegends commented on #319
yeah i think your controls and settings for the mod pack got messed up but glad its fine now

[2016-06-14 23:21] #319 closed

[2016-06-14 23:21] Pjtomas commented on #319
wow, that was weird, but ok, guess thats what i have to do next time, lol, well thanks for the help m8, and for been so fast in helping with that,

[2016-06-14 23:21] Pjtomas commented on #319
and great work on the mod, having lots fun with it

[2016-06-14 23:23] Pjtomas commented on #319
have a good day m8, cya

[2016-06-15 12:45] germanpanda502 commented on #312
I have the same problem and i am in a dimension between my quarry and reactor

[2016-06-15 15:32] MBTKemz commented on #317
Hi, I started a new world but now after 1 day I get the message that Forge detected that the backup data is being used and might corrupt it. I can't go into my new world now. It's getting frustrated that I get big errors at every world I try :/

[2016-06-15 16:11] TheDarkKing opened #320 "the reset"
i precede excuse me for the english i'm italian.
in you server of space astronomy the game writhe reset of mining world ,end and nether on 14th of every month but today is 15/06/2016 and the world isn't reset.
i writhe here because totay on server i writhed to a moder and he dons answer me.
P.S. some italian are plaing on server we are about 10.
tank you for the time.

[2016-06-15 16:27] MJRLegends commented on #320
Its reset now

[2016-06-15 16:27] #320 closed

[2016-06-15 16:36] MJRLegends commented on #317
Weird I will have a look when I can

[2016-06-15 17:26] lucamerchio opened #321 "Problems with achievements"
every time i exit and re-open the game all the achievements are gone, and i have to re take them, all the quest in the book are ok, so is not a terrible thing but is quite annoying

[2016-06-15 21:37] perinmclaughlin opened #322 "Big Reactor Quests"
I believe you may have mis-entered the values for the hqm reactor quests. In the first quest you have to craft the casings 22 different times for a total of 88 casings. Also in the second quest for reactors you have to craft casings 113 different times for 452 casings. What to do with all those casings? I've seen this before in many different mod packs that use hqm. Just wondering if intentional,

[2016-06-15 21:54] perinmclaughlin opened #323 "Dna Splicer(Advanced Genetics) Freezes"
Occasionally the Dna Splicer will freeze for me and no progress will occur. Am on Windows 10. Apparently only occurs when the Splicer is having items withdrawn. Happens with every number of skin cell or number organic drops.
My Setup(The Splicer is receiving maximum power with leadstone or 200rf/t no upgrades in the item node either):
![screenshot 4](https://cloud.githubusercontent.com/assets/7523

[2016-06-15 22:42] MJRLegends commented on #323
Yeah i know about this bug, the only fix i can think of that works is it take out the items and put them back in. Also the mod isnt updated anymore so it wont be fixed

[2016-06-15 22:42] #323 closed

[2016-06-15 22:43] MJRLegends commented on #321
Yeah theres nothing i can do about it tbh

[2016-06-15 22:44] #321 closed

[2016-06-16 19:30] VoidArrow commented on #312
I had this issue a few times, when I had a chunk loader in the Nether and in the Mining World.  I removed Chicken Chunks (erasing chunk loaders) and then reinstalled it.  After replacing my chunk loader in the Nether, I have had no issues loading worlds.  I assume it is some issue with chunk loaders in the Mining World. :D

[2016-06-16 23:13] MJRLegends commented on #322
Will be fixed in the next update

[2016-06-16 23:13] MJRLegends commented on #314
Will be fixed in the next update

[2016-06-16 23:13] MJRLegends commented on #303
Will be fixed in the next update

[2016-06-16 23:14] #303 closed

[2016-06-16 23:14] #322 closed

[2016-06-16 23:16] MJRLegends commented on #312
Well Chicken Chunks is going in the next update anyways so im getting this will be fixed 100% then??

[2016-06-16 23:19] MJRLegends commented on #317
This will be fixed in the next update, as it seems its the cofh update checker had issues, which will be disabled in the next update

[2016-06-16 23:19] #317 closed

[2016-06-16 23:37] MJRLegends commented on #312
I think we will leave this issue open and then see if it comes up after the next update

[2016-06-16 23:40] MJRLegends commented on #259
One i do not support optifine and i dont support any type of shaders so if theres issues with them and the mod pack then thats down to you, as for the original issue here im not sure on a fix tbh seems to be a mod issue for sure

[2016-06-17 00:46] QwertyOnice opened #324 "Enhanced Portal frames will not form"
The formation of the frames in EP3 is not working. The DBS works fine, and the issue has been tested in singleplayer and on the official server, neither work. Supertom sates that it was working a few weeks ago and there has been an update since then, so it may be a conflict with the update or something in it.

[2016-06-17 00:47] MJRLegends commented on #324
Are you using location cards on the frame?

[2016-06-17 17:31] Caven1 opened #325 "This may have caused the error. Try reproducing the crash WITHOUT this/these mod(s) before reporting it."
This may have caused the error. Try reproducing the crash WITHOUT this/these mod(s) before reporting it.

[2016-06-17 17:32] MJRLegends commented on #325
How the hell is this a issue?????

[2016-06-17 17:33] #325 closed

[2016-06-17 17:44] Caven1 opened #326 "This may have caused the error. Try reproducing the crash WITHOUT this/these mod(s) before reporting it."
This may have caused the error. Try reproducing the crash WITHOUT this/these mod(s) before reporting it.

[2016-06-17 17:44] MJRLegends commented on #326
Wtf are you doing

[2016-06-17 17:48] #326 closed

[2016-06-18 08:11] Yunori2011 opened #327 "Modular Power Suits Not Draining Ender IO Staff of Travel"

[2016-06-18 08:11] #327 closed

[2016-06-18 08:28] Abacan1 opened #328 "Textures !"
11:22:59] [Client thread/ERROR] [TEXTURE ERRORS]: +=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=
[11:22:59] [Client thread/ERROR] [TEXTURE ERRORS]: The following texture errors were found.
[11:22:59] [Client thread/ERROR] [TEXTURE ERRORS]: ==================================================
[11:22:59] [Client thread/ERROR] [TEXTURE ERRORS]:   DOMAIN minecraft
[11:22:59] [Client thread/ERROR] [T

[2016-06-18 09:07] MJRLegends commented on #328
Not a bug

[2016-06-18 09:07] #328 closed

[2016-06-18 09:09] Abacan1 commented on #328
What to do ?

[2016-06-18 09:10] WalaoEgg0424 commented on #328
@Abacan1 this is a known issue.

[2016-06-18 09:10] WalaoEgg0424 commented on #328
maybe not an issue*

[2016-06-18 09:12] WalaoEgg0424 commented on #328
@Abacan1 https://github.com/MJRLegends/Space-Astronomy-Feedback-/issues/300
here is it

[2016-06-18 09:15] Abacan1 commented on #328
So what do I do?

[2016-06-18 09:17] WalaoEgg0424 commented on #328
@Abacan damn , just change the splash.properties from true to false. here i can know that u dont ever look up for closed issue that might have the same issue you are having .

[2016-06-18 09:21] Abacan1 commented on #328
What splash.properties ?:D

[2016-06-18 09:22] WalaoEgg0424 commented on #328
@Abacan the closed issue that i had give u have most of the information. please read them all :/

[2016-06-18 10:52] VanedS opened #329 "Error"
[13:47:19] [Thread-12/INFO] [STDERR]: [java.lang.Throwable$WrappedPrintStream:println:-1]: java.net.ConnectException: Connection refused: connect
[13:47:19] [Thread-12/INFO] [STDERR]: [java.lang.Throwable$WrappedPrintStream:println:-1]: 	at java.net.TwoStacksPlainSocketImpl.socketConnect(Native Method)
[13:47:19] [Thread-12/INFO] [STDERR]: [java.lang.Throwable$WrappedPrintStream:println:-1]: 	at j

[2016-06-18 10:55] MJRLegends commented on #329
You cleary didn't read this https://github.com/MJRLegends/Space-Astronomy-Feedback-/blob/master/CONTRIBUTING.md

[2016-06-18 10:57] VanedS commented on #329
2?

[2016-06-18 10:58] WalaoEgg0424 commented on #329
@VanedS paste the log at pastebin then give the link , and tell us what issue is it , not just the error.

[2016-06-18 11:00] MJRLegends commented on #328
Also he ignored this https://github.com/MJRLegends/Space-Astronomy-Feedback-/blob/master/CONTRIBUTING.md

[2016-06-18 11:01] VanedS commented on #329
![image](https://cloud.githubusercontent.com/assets/20012567/16170500/2ca39e8a-355d-11e6-95ef-eb83972cbf31.png)

[2016-06-18 11:03] MJRLegends commented on #329
Stop removing mods and that won't happen lol

[2016-06-18 11:04] MJRLegends commented on #329
Please repost your issue when you have the proper information to give to me

[2016-06-18 11:04] #329 closed

[2016-06-18 11:24] #1 closed

[2016-06-18 11:25] MJRLegends opened #330 "Removed"
Removed

[2016-06-18 15:55] leam360 opened #331 "World not loading"
Its only happening with one world.
I was in my base with a lot of machines at the time.
It first crashed when i was placing a second electrical furnace and now I can't get onto that world.
http://pastebin.com/Esg67dvQ
This is what it tells me to do but I don't wish to change it before I know it won't break it.

[2016-06-18 19:29] BOSSthomas opened #332 "GalactiCraft Parachute"
When i Claim the Reward with the parachute and than i took the Blue parachute and turn it on
and off and i close the menu.
I cant jump and not press F5
when iam at Creative i can press F5 in fly and i see the parachute is on me and activated
Reload the Modpack help.

[2016-06-19 00:02] tanksmontaje commented on #312
I'm having same problem hopefully update will fix... gunna try using minefactory reloaded CL instead.

[2016-06-19 00:04] ktownbullet opened #333 "Practicalities"
For some reason the Vaults are not updated to where we can use them on servers (vaults for Practicalities) and im sure that was an issue that was fixed almost a year ago. I was wondering if this Mod was going to be updated soon so that we can use them or if it is intented?

[2016-06-19 00:18] tanksmontaje commented on #312
*my current fix* i loaded server world as single player save then broke chunk loader, put that single player save as server world file... before i shut off my server now, i break the chunk loader and go back to over world. seems to work

[2016-06-19 00:26] MJRLegends commented on #331
Thats not even the crash log!!!

[2016-06-19 01:11] MrSkeleguy opened #334 "Machines and Equipment: Starting Big Reactors"
When you do the quest. It requires you to make reactor casing 22 times instead of making 22 different reactor casings. You end up wasting materials. Thanks a lot!

[2016-06-19 03:28] lookItsAPootis opened #335 "Missing Mouse"
I can't find the mouse anywhere
It's not visible

[2016-06-19 03:29] WalaoEgg0424 commented on #335
@lookItsAPootis
https://github.com/MJRLegends/Space-Astronomy-Feedback-/issues/314

[2016-06-19 03:31] WalaoEgg0424 commented on #335
@lookItsAPootis btw , please read this :/
https://github.com/MJRLegends/Space-Astronomy-Feedback-/blob/master/CONTRIBUTING.md
follow the rules :/ , check for known issues or same issue that has already been reported

[2016-06-19 04:11] #335 closed

[2016-06-19 06:26] leam360 commented on #331
Is this it.
http://pastebin.com/w0fsqdrA

[2016-06-19 09:33] sbudiz opened #336 "bug tesseract"
1.4.5 the tesseract not work more for energy i not try for item and liquid

[2016-06-19 09:35] WalaoEgg0424 commented on #336
@sbudiz you using enderio cable? can you take a screenshot of it?

[2016-06-19 09:37] sbudiz commented on #336
i tested mekanism and thermal dinamics

[2016-06-19 09:41] WalaoEgg0424 commented on #336
@sbudiz enderio's cables will work , but the thermal dynamics's seems to work for me , but mekanism i didnt tried it before.

[2016-06-19 09:43] MJRLegends commented on #331
Nope

[2016-06-19 09:51] sbudiz commented on #336
![tesseract](https://cloud.githubusercontent.com/assets/20025172/16176655/11f8b2c0-3614-11e6-80fd-e30819ab08c4.jpg)

[2016-06-19 09:55] sbudiz commented on #336
ok guy resolved is cable mekanism in the tesseract not work sry for your lost time

[2016-06-19 09:56] #336 closed

[2016-06-19 10:52] leam360 commented on #331
What is then, the entire log

[2016-06-19 14:19] Androgeo33 opened #337 "crash"
If I build a nether portal and a mining portal and I put a chunk loader in the nether and a chunk loader on the earth, the world crush and I can,t play the world again. Pls solve (sorry for my bad english)

[2016-06-19 14:22] WalaoEgg0424 commented on #337
@Androgeo33 its a known issue. please read the known issue section or look up for similar closed issue

[2016-06-19 14:25] #337 closed

[2016-06-19 20:14] Azenet opened #338 "A quest gives an angel ring but Baubles is not in the pack"
The angel ring requires a Baubles slot.

[2016-06-19 20:16] MJRLegends commented on #338
It doesnt 100% need it

[2016-06-19 20:16] #338 closed

[2016-06-19 23:25] #331 closed

[2016-06-20 11:15] TheBlackSlayer commented on #97
Hi everyone I've this bug too and I solved this by replace GalacticraftCore, GalacticraftPlanets and MicdoodleCore with the new 12.460 version from the website: https://micdoodle8.com/mods/galacticraft/downloads
Please correct this bug to everyone in the next modpack version.

[2016-06-20 11:16] MJRLegends commented on #97
Thats not the latest version lol

[2016-06-20 11:27] MJRLegends commented on #97
Its good your looking at closed issues but you could of posted that on the open issues about this problem

[2016-06-20 11:30] MJRLegends commented on #333
Probably not the mod developer doesn't work on the 1.7.10 version anymore

[2016-06-20 17:28] lhaig opened #339 "Thank you"
I just wanted to say thank you for the great pack.

I love quest based maps and this one keeps getting better the more I Play it.

Thanks

[2016-06-20 17:33] MJRLegends commented on #339
No problem

[2016-06-20 17:33] #339 closed

[2016-06-21 02:13] MOOZILLAONTHEGO opened #340 "mouse"
when i am on, my mouse doesn't show and it is annoying because i don't know where i am clicking

[2016-06-21 04:44] epicepicgrolith opened #341 "Immersive engineering Crash"
what had happened was that I was playing with my brother on a lan world and so we went throught the ender portal. everything was fine for a bit but shortly after I crashed and it completely exited me out of the game. when I tried to get back on I got to the main menu but when I tried to reload the world it crashed the same way as it did the first time. so I asked my brother to jump into the end po

[2016-06-21 04:44] epicepicgrolith commented on #341
here is the long on pastbin
http://pastebin.com/JgMxWcGC

[2016-06-21 06:27] #340 closed

[2016-06-21 07:41] WalaoEgg0424 commented on #341
@epicepicgrolith can you provide the crash log , all i can see is just some texture error and some chunk error

[2016-06-21 07:43] MJRLegends commented on #341
Yeah it should be in the crash logs folder not the log folder

[2016-06-21 07:44] WalaoEgg0424 commented on #340
@MOOZILLAONTHEGO
https://github.com/MJRLegends/Space-Astronomy-Feedback-/issues/314

Its a known issue , please check those closed issues :/ , you have to know that we dont have time to repeat everything that we have explain last time and explain to all of you again.

[2016-06-21 10:01] EliasSvultz opened #342 "Crashes on world load"
http://pastebin.com/8W4mL5QY

[2016-06-21 10:24] MJRLegends commented on #342
Read this https://github.com/MJRLegends/Space-Astronomy-Feedback-/issues/330

[2016-06-21 11:31] EliasSvultz commented on #342
Updated to pastebin

[2016-06-21 12:24] #342 closed

[2016-06-21 15:40] MJRLegends commented on #341
Yeah seems to be a mod bug and seems to be happening for a few people, i will report it to the mod dev of immersive engineering

[2016-06-21 15:42] MJRLegends commented on #332
This is a known thing with galacticraft and its weird and a rare bug also it cant be reproduced by the galacticraft devs as its been reported to them before

[2016-06-21 15:42] #333 closed

[2016-06-21 15:43] MJRLegends commented on #312
see #341

[2016-06-21 15:43] #312 closed

[2016-06-21 17:01] epicepicgrolith commented on #341
thanks for the help

[2016-06-21 18:39] epicepicgrolith commented on #341
here is the crash log http://pastebin.com/1776LMvv

On Tue, Jun 21, 2016 at 11:40 AM, MJRLegends <notifications@github.com>
wrote:

[2016-06-21 19:04] epicepicgrolith commented on #341
is there any recommended ways i can fix this yet. i did try and remove
chicken chunks to no effect

On Tue, Jun 21, 2016 at 2:39 PM, Aaron Bock <aaronthe5000@gmail.com> wrote:

[2016-06-21 19:44] MJRLegends commented on #341
Removing Immersive Engineering and loading the world up then adding the mod back in but you will lose any Immersive Engineering blocks and items you have in your world

[2016-06-21 22:33] epicepicgrolith commented on #341
ok i will try that

On Tue, Jun 21, 2016 at 3:44 PM, MJRLegends <notifications@github.com>
wrote:

[2016-06-21 22:48] epicepicgrolith commented on #341
i was able to get a little farther being able to see my player before it
had crashed. Here is the crash log http://pastebin.com/LvSZwBWL

On Tue, Jun 21, 2016 at 6:33 PM, Aaron Bock <aaronthe5000@gmail.com> wrote:

[2016-06-21 22:52] epicepicgrolith commented on #341
this happens with and without immersive engineering

On Tue, Jun 21, 2016 at 6:48 PM, Aaron Bock <aaronthe5000@gmail.com> wrote:

[2016-06-21 22:53] MJRLegends commented on #341
Its because your adding mods e.g chocolateQuest

[2016-06-21 22:53] epicepicgrolith commented on #341
it causes the same thing meaning i can see my hotbar and player before
crashing with and without immersive engineering

On Tue, Jun 21, 2016 at 6:52 PM, Aaron Bock <aaronthe5000@gmail.com> wrote:

[2016-06-21 23:56] epicepicgrolith commented on #341
i will try to disable chocolate quest and immersive engineering. Chocolate
quest was the only mod i added

On Tue, Jun 21, 2016 at 6:53 PM, Aaron Bock <aaronthe5000@gmail.com> wrote:

[2016-06-22 00:06] epicepicgrolith commented on #341
that seemed to do it. it functions now so i will kill the ender dragon and
after that i will add the mods back in does that sound like it could work.

On Tue, Jun 21, 2016 at 7:56 PM, Aaron Bock <aaronthe5000@gmail.com> wrote:

[2016-06-22 10:18] EliasSvultz opened #343 "Crashes on world load"
http://pastebin.com/E1yCS9tx

[2016-06-22 10:22] WalaoEgg0424 commented on #343
@EliasSvultz its the same issue as this https://github.com/MJRLegends/Space-Astronomy-Feedback-/issues/341

[2016-06-22 16:25] epicepicgrolith commented on #341
now i have what appears to be a new issue i have removed immersive
engineering and chocolate quest but there appears to be a problem with
crossing dimensions i guess because when i went through the mining world
portal i had crashed the same way as going through the ender portal
http://pastebin.com/C7t41GKS

On Tue, Jun 21, 2016 at 8:06 PM, Aaron Bock <aaronthe5000@gmail.com> wrote:

[2016-06-22 22:40] MJRLegends commented on #343
Please follow this next time https://github.com/MJRLegends/Space-Astronomy-Feedback-/issues/330

[2016-06-22 22:40] #343 closed

[2016-06-23 00:38] CelloSuperstar opened #344 "World Not Responding"
I'm not sure if this is a problem with the modpack, or my computer. In the two worlds I've tried to play on, they both randomly stopped working, becoming unresponsive and forcing me to exit the game. A few minutes after reloading the world it does it again without fail. I have put several hours into both worlds before the problem arose and I had really enjoyed the modpack up to this point. There's

[2016-06-23 00:39] CelloSuperstar commented on #344
http://pastebin.com/Ry38PajY

[2016-06-23 06:17] WalaoEgg0424 commented on #344
@CelloSuperstar so there is no any crashlog?just some auto force exit?

[2016-06-23 06:22] WalaoEgg0424 commented on #341
@epicepicgrowth https://github.com/MrTJP/ProjectRed/issues/1005
use mcedit remove those broken blocks then maybe it will be fixed?

[2016-06-23 08:44] underspikey opened #345 "Refined iron in thermal expansion induction smelter not working with pulverized coal"
Tried making refined iron (steel oredict) in an induction smelter. Tested around a bit and Thermal Foundation pulverized coal doesn't work, it just won't go in. Can't pipe it, can't click it in, nothing. IC2 dust works.

Version 1.4.5 of the pack.

[2016-06-23 09:36] WalaoEgg0424 commented on #345
Just tested it in my singleplayer world.

Thermal Foundation's pulverized charcoal does work , but pulverized coal doesnt works, other coal dust works. The recipe shows that you can use pulverized coal + iron ingot = refined iron but the machine doesnt accept the pulverized coal from Thermal Foundation.

[2016-06-23 16:52] epicepicgrolith commented on #341
ok i will try

On Thu, Jun 23, 2016 at 2:22 AM, WalaoEgg0424 <notifications@github.com>
wrote:

[2016-06-23 17:21] #344 closed

[2016-06-23 17:21] MJRLegends commented on #344
There is no problem here your computer probably just cant handle the mod pack

[2016-06-23 17:22] MJRLegends commented on #341
This has nothing to do with ProjectRed??

[2016-06-23 17:23] MJRLegends commented on #341
Please open a new issue if you got another issue

[2016-06-23 19:37] CelloSuperstar commented on #344
I've never had any problems on FTB Infinity... even on servers. I guess I'll look around for another space exploration mudpack. Thanks for the help anyways.

[2016-06-23 19:38] MJRLegends commented on #344
You could try increasing the amount of ram on the lanucher

[2016-06-23 19:39] MJRLegends commented on #344
Or install OptiFine

[2016-06-23 19:44] CelloSuperstar commented on #344
Alright, I will get optifine and see if it works.

[2016-06-24 07:43] Fulovplay2 opened #346 "I takes off equipment when entering the world"
When you reenter the launcher inventory is cleared and can not recover
Help please

[2016-06-24 12:01] Erikillo opened #347 "The atomic dissassembler mission don't work"
I craft the atomic dissassembler and I don't can to validate the mission. Any one has these problem?

Sorry for my bad english, I'm Spanish

[2016-06-24 12:03] #347 closed

[2016-06-24 12:33] MJRLegends commented on #346
Thats not possible

[2016-06-24 12:33] #346 closed

[2016-06-24 12:53] MJRLegends commented on #345
I can reproduce this bug but atm i cant find a way to solve it

[2016-06-25 20:27] Estabane opened #348 "Digital miner"
I don't know if this a glitch or feature i'm unable to find documentation of but the digtal miner is not capable of mining below y 30 (i think?) i've placed a digital miner at y 70 a noticed no deep ores, then tried moving down to y 30, and y 5, still no res to my annoyance

[2016-06-26 00:10] WalaoEgg0424 commented on #348
@Estabane have you filter all the ores that you want to mine?

[2016-06-26 03:42] vagaprime commented on #13
MJR how did you go about fixing this problem. I have started to get this error showing its ugly head in my pack with the latest version release.

[2016-06-26 06:07] MJRLegends commented on #13
By reading the known issues page you will find out

[2016-06-26 06:09] MJRLegends commented on #348
Yeah you just haven't set it up correctly,therefore this is not a bug

[2016-06-26 06:09] #348 closed

[2016-06-26 06:12] Estabane commented on #348
I set it up powered it set it max x+z coords to 32 and the max y coords to 255 and added in the filter ore* and let it run.it mined all the ores above it and in testing it would mine diamond or redstone ores placed near it above the y 30 mark.

[2016-06-26 06:12] vagaprime commented on #13
Ok

[2016-06-26 06:19] Estabane opened #349 "Digital miner Issue"
I don't know if this a glitch or feature i'm unable to find documentation of but the digtal miner is not capable of mining below y 30 (i think?) i've placed a digital miner at y 70 a noticed no deep ores, then tried moving down to y 30, and y 5, still no ores to my annoyance
and
I set it up, i  powered it, set it's max x+z coords to 32 and the max y coords to 255 and added in the filter 'ore*' and

[2016-06-26 07:21] WalaoEgg0424 commented on #349
@Estabane do u have skype?

[2016-06-26 07:21] Estabane commented on #349
yes

[2016-06-26 07:22] WalaoEgg0424 commented on #349
@Estabane add me : yimer1821

[2016-06-26 07:23] Estabane commented on #349
sent

[2016-06-26 08:06] Estabane commented on #349
turns out i'm and idiot sorry for the trouble :P

[2016-06-26 08:06] #349 closed

[2016-06-26 08:07] MJRLegends commented on #349
Please dont just repost the issue because i closed the other one

[2016-06-26 08:16] Estabane commented on #349
I'm sorry I was unable to see the solution and felt it had not been addressed, and so I re-posted because i couldn't figure out any other options. Thank you for your patience with me, and thank you for the awesome modpack that has gotten me back into minecraft after an extended break.

[2016-06-26 12:01] JustPlayingHard opened #350 "Modular Powersuits armor recipes from NEI not working"
Modular Powersuits mod recipes from NEI are not working, I assume they are the wrong ones and it's annoying as I can not find out the recipe for them at all :(

[2016-06-26 12:23] JustPlayingHard commented on #350
Well then. It might of me being an idiot :P I didn't look at the materials properly

[2016-06-26 12:24] #350 closed

[2016-06-26 17:35] tokinGanja commented on #259
the issue was on it's own i fixed it from freezing with a feature of optifine, shaders do it no good it runs better with them out. even though it displays the notification a lot, it continues to be playable without optifine Opengl crashes and i have to close minecraft out.

[2016-06-26 17:36] tokinGanja commented on #259
optifine's algorithm is the only thing that forces the game to continue through the crash.

[2016-06-26 21:58] Speedy8g opened #351 "Internal Server Error"
I logged into my Server that 4-5 friends and myself play on and it looked like my space station got griefed, Nobody else is capable of space travel or would grief if they could. There was minecraft fences and pheunaticcraft pipes in and around my space station. The Fences i could break but when i break the pipes i get the internal server error. Also it would give me this error if i got too close t

[2016-06-27 00:14] MJRLegends commented on #351
Please follow these https://github.com/MJRLegends/Space-Astronomy-Feedback-/blob/master/CONTRIBUTING.md

[2016-06-27 01:41] MJRLegends commented on #351
Also supply the crash log?

[2016-06-27 01:46] Speedy8g commented on #351
26.06 21:49:07 [Server] Server thread/INFO [Mekanism]: Sent config to 'Speedy_8G.'
26.06 21:49:07 [Multicraft] Speedy_8g ran command Message of the Day
26.06 21:49:09 [Server] Server thread/WARN Failed to handle packet for /98.209.41.207:58226

[2016-06-27 01:47] Speedy8g commented on #351
26.06 21:49:16 [Server] VoiceServer Listen Thread/INFO [Mekanism]: VoiceServer: Accepted new connection.
26.06 21:49:18 [Server] Server thread/WARN Can't keep up! Did the system time change, or is the server overloaded? Running 2188ms behind, skipping 43 tick(s)
26.06 21:49:21 [Server] Thread-2764743/ERROR [Mekanism]: VoiceServer: Unable to trace connection's IP address.

[2016-06-27 01:49] MJRLegends commented on #351
Not the correct information and your ignoring this https://github.com/MJRLegends/Space-Astronomy-Feedback-/blob/master/CONTRIBUTING.md. so please repost when you have the correct information and follow the correct rules

[2016-06-27 01:49] #351 closed

[2016-06-27 01:51] Speedy8g commented on #351
Really.... w/e

[2016-06-28 20:47] sgsbaihs opened #352 "crashing when opening world"
---- Minecraft Crash Report ----
// Quite honestly, I wouldn't worry myself about that.

Time: 28/06/16 22.41
Description: Exception in server tick loop

java.lang.NullPointerException: Exception in server tick loop
	at hardcorequesting.QuestingData.<init>(QuestingData.java:524)
	at hardcorequesting.QuestingData.readAllData(QuestingData.java:483)
	at hardcorequesting.QuestingData$1.read(QuestingDa

[2016-06-28 20:50] MJRLegends commented on #352
Already known issue read this for fix,
![](https://i.gyazo.com/3280883eada7145419fae79ec5ac98be.png)

[2016-06-28 20:50] #352 closed

[2016-06-28 21:37] sgsbaihs commented on #352
how can i do ''Solution 1: Delete this folder "ftblauncher\SpaceAstronomy\minecraft\Saves\YOURSAVE\HardcoreQuesting" replace "YOURSAVE" with your world folder name.'' if i'm playing on curse?

[2016-06-29 04:31] CodingAsa opened #353 "Io Gate Crashes Game"

[2016-06-29 08:46] sgsbaihs opened #354 "crashing when opening world"
how can i do ''Solution 1: Delete this folder "ftblauncher\SpaceAstronomy\minecraft\Saves\YOURSAVE\HardcoreQuesting" replace "YOURSAVE" with your world folder name.'' if i'm playing on curse?

[2016-06-29 09:03] WalaoEgg0424 commented on #353
@CodingAsa please give us the crashlog ,btw put it at the pastebin.com

[2016-06-29 09:04] WalaoEgg0424 commented on #354
@sgsbaihs go into ur curse launcher folder  find spaceastronomy then minecraft\Saves\YOURSAVE\HardcoreQuesting" replace "YOURSAVE" with your world folder name.''

[2016-06-29 11:46] #354 closed

[2016-06-29 13:41] #324 closed

[2016-06-29 13:41] MJRLegends commented on #353
Please report when you have the correct information and not just a title!!

[2016-06-29 13:41] #353 closed

[2016-06-29 13:42] #314 closed

[2016-06-29 14:39] Revoolution opened #355 "Gravi-Chestplate from Gravitation Suite isnt craftable"
![2016-06-29_10 48 11](https://cloud.githubusercontent.com/assets/20208491/16456779/222c1134-3de7-11e6-88d7-ca44810e2aaf.png)
![2016-06-29_10 47 59](https://cloud.githubusercontent.com/assets/20208491/16456783/2472468e-3de7-11e6-97da-ca1a0af33733.png)

I believe the problem is the advanced heat exchanger has a different ID than the recipe requires, and so does the 60k coolant cell. They both have

[2016-06-29 14:53] MJRLegends commented on #355
Will be fixed for update v1.4.7

[2016-06-29 15:42] Markus9063 opened #356 "Version 1.4.6 is unstable"
My pc crashed because of VeinMiner, plz remove Veinminer and fix the issue (BIG!) i do not have any crash reports because i had to turn my pc off manualy, dont uppdate

[2016-06-29 15:43] MJRLegends commented on #356
How the hell is this a bug

[2016-06-29 15:43] #356 closed

[2016-06-29 15:44] MJRLegends commented on #356
One you haven't supplied any logs and your rude being rude about it

[2016-06-29 15:46] NavroDK opened #357 "Using Tinkers LumberAxe crashes client"
If you use the Tinkers LumberAxe the client crashes as soon as the "Chopping" is done, and the tree is disappearing.

Stacktrace from Client crash
`Stacktrace:
	at portablejim.veinminer.core.CoreEvents.blockBreakEvent(CoreEvents.java:25)
	at cpw.mods.fml.common.eventhandler.ASMEventHandler_624_CoreEvents_blockBreakEvent_BreakEvent.invoke(.dynamic)
	at cpw.mods.fml.common.eventhandler.ASMEventHandl

[2016-06-29 15:46] Markus9063 commented on #356
i got two crashed, first time it was when i tried to break a tree and it was because of veinminer
first crash report: https://drive.google.com/file/d/0B9F48NUZxjYqWHdjWkxCQ0phT2M/view?usp=sharing

[2016-06-29 15:48] Markus9063 commented on #357
same happened to me, then my pc crashed lol, had to manualy restart me pc

[2016-06-29 15:49] MJRLegends commented on #357
Simple temp fix dont use them tools and vein miner

[2016-06-29 15:52] Markus9063 commented on #357
why not just go back to 1.4.5, almost all the servers are on that version

[2016-06-29 15:58] MJRLegends commented on #357
Well firstly why dont you stop being so rude

[2016-06-29 16:01] NavroDK commented on #357
Disabled Veinminer mod, and as you wrote it fixed the crash - Thanks :+1:

[2016-06-29 16:02] MJRLegends commented on #357
No problem i will get another update out soon clearly the new version is vein miner is broken

[2016-06-29 17:58] MineKity opened #358 "1.4.6 Update has invisible text everywhere on Mac OS"
Hi, I just upgraded to 1.4.6 on a local single player machine.

Text on the starting screen, loading screen for single and multiplayer, all text on blocks and in the quest book are blank making the build unplayable. If you know where to click on the pages, the links work fine, you just cannot read what you are clicking anywhere. I believe this is a visual bug, but it makes it very hard to play sin

[2016-06-29 18:08] MineKity opened #359 "Getting Upgraded Tools Quest Bug?"
I'm not sure if this is a bug or by design, but the "Getting Upgraded Tools Quest" seems to take every tool forge except 1255:5 which is the half high one from Tinker's Construct.

[2016-06-29 18:57] Rezendore opened #360 "Cannot load any single player worlds"
As far as I have looked for the past 10 hrs I have found nothing about this issue. There is no crash log, but whenever I attempt to load any world or even create a new world, it will start loading then bring me to the main screen. This has been happening since my power went out while in game. I have tried to remove hqm from the mod folder and that has not helped.

[2016-06-29 19:50] MJRLegends commented on #360
Well i need more than it wont load??

[2016-06-29 19:51] MJRLegends commented on #359
Will look later as dont have my laptop or computer with me to test

[2016-06-29 19:54] MJRLegends commented on #358
Do you have OptiFine installed? If yes removed it and try and remove fastcraft mod

[2016-06-29 20:18] Rezendore commented on #360
When I load the game up. I encounter no issues and when I go to click around the main menu there are no issues. When I attempt to click "launch" on any world the world will start to load by showing the dirt loading screen and the word "loading". The world will stop loading and bring me back to the main menu. I am not crashing, just being re-directed to the main menu. I have no idea how to access a

[2016-06-29 20:29] MineKity commented on #359
No problem! Thanks for the quick reponse!

[2016-06-29 20:41] MineKity commented on #358
I verified that I do not have OptiFine Installed. I did remove fastcraft mod and restarted. Once I did this instead of invisible text I now get white blocks. This is slightly better because at least you can now see where the buttons are supposed to be as the white blocks take on the color of whatever the text is supposed to be, however you still can't read any actual writing.

[2016-06-29 20:42] MineKity commented on #358
This almost seems like a font issue? However, I am unsure if minecraft actually uses fonts (:

[2016-06-29 22:40] MJRLegends commented on #360
I need logs?

[2016-06-29 22:49] WaffleMan005 opened #361 "Trouble loading Pack"
Your mod sounds amazing from what I've heard and I would love to play it but whenever I press play it loads the normal forge screen but it never makes it all the way until the end without crashing.

 I copied the crash report:

[13:22:35] [Client thread/INFO] [Reika.DragonAPI.Libraries.Java.ReikaASMHelper]: DragonAPI: Successfully applied WORLDRENDER ASM handler!
[13:22:35] [Client thread/INFO] [R

[2016-06-29 22:50] MJRLegends commented on #361
Update your mod pack

[2016-06-29 22:50] #361 closed

[2016-06-29 22:54] MJRLegends commented on #359
Please can you tell me what one is it as my i'ds are different to yours
![image](https://cloud.githubusercontent.com/assets/8526321/16471462/c0bfe614-3e54-11e6-83de-4b75cf2441ff.png)

[2016-06-29 23:19] MineKity commented on #359
It is the last row next to the book with the note on it.

[2016-06-29 23:20] Rezendore commented on #360
I need to know how to get the logs.

[2016-06-29 23:22] MJRLegends commented on #359
Its because its a different block all together you need to craft this one
You need to craft these ones
![](https://i.gyazo.com/011a2d44a60fdeaa9f93aba4e60c3cde.png)

[2016-06-29 23:27] MJRLegends commented on #355
Fixed see message above
![](https://i.gyazo.com/c162654b73aedd433da8e73b8bac1d92.png)

[2016-06-29 23:28] MJRLegends commented on #360
i need the console log which can be found in the logs folder

[2016-06-29 23:36] Rezendore commented on #360
I can't paste the logs here and pastebin says this You have exceeded the maximum paste size of 512 kilobytes per paste.

[2016-06-29 23:40] Rezendore commented on #360
There we go, I had to change it from a .log file to a .txt file
[fml-client-latest.txt](https://github.com/MJRLegends/Space-Astronomy-Feedback-/files/340439/fml-client-latest.txt)

[2016-06-29 23:41] MJRLegends commented on #360
can you send me the log with the filename "latest"

[2016-06-29 23:43] Rezendore commented on #360
[latest.txt](https://github.com/MJRLegends/Space-Astronomy-Feedback-/files/340446/latest.txt)

[2016-06-30 00:00] WaffleMan005 commented on #361
I updated but it still doesnt load fully.

Here is the next crash report:

[18:41:03] [Client thread/INFO] [integratedcircuits]: BuildCraft: true
[18:41:03] [Client thread/INFO] [integratedcircuits]: Searching for compatible APIs
[18:41:03] [Client thread/INFO] [integratedcircuits]: BuildCraft Tools API: true
[18:41:03] [Client thread/INFO] [integratedcircuits]: BluePower API: false
[18:41:03] [Cl

[2016-06-30 00:02] WaffleMan005 opened #362 "Modpack won't load"
I followed your instructions by updating but it still crashes.

Here is the new crash report:

[18:41:03] [Client thread/INFO] [integratedcircuits]: BuildCraft: true
[18:41:03] [Client thread/INFO] [integratedcircuits]: Searching for compatible APIs
[18:41:03] [Client thread/INFO] [integratedcircuits]: BuildCraft Tools API: true
[18:41:03] [Client thread/INFO] [integratedcircuits]: BluePower API:

[2016-06-30 00:04] MJRLegends commented on #362
Thats not a crash log

[2016-06-30 00:05] WaffleMan005 commented on #362
it never loads all the way through. I will let you know the next time it crashes.

[2016-06-30 00:06] MJRLegends commented on #362
your not giving me enough information to be able to fix it!!

[2016-06-30 00:10] MJRLegends commented on #360
thats not a good enough log as its like 23 lines long (latest.txt one)

[2016-06-30 00:12] #357 closed

[2016-06-30 00:12] #355 closed

[2016-06-30 00:30] WaffleMan005 commented on #362
here is a crash report:

---- Minecraft Crash Report ----
// This doesn't make any sense!

Time: 6/29/16 7:10 PM
Description: Registering texture

java.lang.OutOfMemoryError: Java heap space
	at net.minecraft.client.renderer.texture.TextureUtil.func_110993_a(TextureUtil.java:241)
	at net.minecraft.client.renderer.texture.TextureUtil.func_110995_a(TextureUtil.java:232)
	at net.minecraft.client.rend

[2016-06-30 00:33] MJRLegends commented on #362
You need to assign more ram to your lanucher

[2016-06-30 00:34] WaffleMan005 commented on #362
so next to the xmx is that where i do it?

[2016-06-30 00:45] MJRLegends commented on #362
What launcher are you using

[2016-06-30 00:47] Rezendore commented on #360
So what do I do to get a better log?

[2016-06-30 00:50] WaffleMan005 commented on #362
curse

[2016-06-30 00:56] MJRLegends commented on #362
You need to go to settings and change this, not what your currently doing because your doing it wrong
![](https://i.gyazo.com/78e464b6cad0def91938f184019a5b44.png)

[2016-06-30 00:56] #362 closed

[2016-06-30 00:57] WaffleMan005 commented on #362
Mine is at that amount of MB but I'm going to move it up more.

[2016-06-30 00:59] MineKity commented on #359
OK thanks! May want to put a note in the quest book, but just my 2 cents.

[2016-06-30 01:17] #359 closed

[2016-06-30 01:22] Rezendore commented on #360
[18:21:47] [Server thread/INFO]: Starting integrated minecraft server version 1.7.10
[18:21:47] [Server thread/INFO]: Generating keypair
This continues to be repeated when I attempt to load my world

[2016-06-30 01:50] Rezendore commented on #360
Okay. I have made a little bit of progress. After deleting the mod and re-installing it. I created a new world and it worked perfectly, the world loaded up and I was able to work with it. When I took the save file that initially had the issue and tried to load it up in this new instance. The same error occured. When I tried to load up the other save file that had worked earlier, I received the sam

[2016-06-30 08:18] MarcasRealAccount commented on #360
This is the crash report from fml-client-latest
Hope it helps :)
 [Crash report.txt](https://github.com/MJRLegends/Space-Astronomy-Feedback-/files/340988/Crash.report.txt)

[2016-06-30 08:33] MarcasRealAccount opened #363 "1.4.6 Quest book"
I think you messed up in the quest book, i know its not a bug.
![quest book](https://cloud.githubusercontent.com/assets/20221636/16481961/1ada9e1a-3eae-11e6-86fa-15b8eac64e69.png)
btw when are you going to uppdate the modpack?

[2016-06-30 11:02] pjs8574 opened #364 "Using a lumber axe on a tree crashes the game client"
Use a tinkers construct lumber axe on a tree and the client will crash to desktop.  According to the crash report, it looks like a Veinminer event is interfering in some fashion with the lumber axe.

http://pastebin.com/f4zxzUEv

[2016-06-30 11:23] MJRLegends commented on #364
Already known bug next timw check, known issues page and closed issues

[2016-06-30 11:23] #364 closed

[2016-06-30 14:18] Rezendore commented on #360
@MarcasRealAccount Is this your crash report?

[2016-06-30 14:27] WalaoEgg0424 commented on #360
@MarcasRealAccount do u know what does crash report means? Its a file that is generate by minecraft if theres a crash , that fml client latest is just a log that records the launcher console like what is the minecraft and launcher doing.

[2016-06-30 14:33] WalaoEgg0424 commented on #360
@Rezendore the only thing i can think of is world files corrupted

[2016-06-30 14:40] WalaoEgg0424 commented on #360
@Rezendore all i can see is enderchest from codechicken gt problem . make a backup of ur world , then go into ur world folder , delete EnderStorage. But careful that all ur stuff that is inside the enderchest that you are having will lost.

[2016-06-30 14:47] MJRLegends commented on #363
Fixed in next update

[2016-06-30 14:50] MarcasRealAccount commented on #363
ok, btw when is the next uppdate coming up?

[2016-06-30 14:51] MJRLegends commented on #363
Idk

[2016-06-30 14:53] MarcasRealAccount commented on #360
@Rezendore it was from your fml-client-latest, found it so i could help.
@WalaoEgg0424 I know what a crash report is, but that is a crash report from fml more spesific one.

[2016-06-30 15:05] MarcasRealAccount commented on #358
@MineKity Minecraft uses fonts, check this picture from .minecraft\versions\1.7.10\1.7.10.jar\assets\minecraft\textures\font\
![unicode_page_00](https://cloud.githubusercontent.com/assets/20221636/16493189/da705f04-3ee4-11e6-82ab-4c4d25f86f6b.png)

[2016-06-30 15:33] MineKity commented on #358
I'll have to check when I get home tonight. I'm assuming I should check
this after moving back to 1.4.6 correct?

On Thursday, June 30, 2016, MarcasRealAccount <notifications@github.com>
wrote:

[2016-06-30 15:44] Rezendore commented on #360
Wow. Deleting enderstorage allowed my world to load and update. Thanks for looking at my files and helping out @MarcasRealAccount and @WalaoEgg0424 . One more question though, in the new world all of my Applied Energistics items are gone, except for some ME drives. Also, all of my enderio items are gone as well :/ Any clue why these would have been replaced with stone?

[2016-06-30 15:46] MJRLegends commented on #360
Nope

[2016-06-30 15:46] #360 closed

[2016-06-30 15:48] Rezendore commented on #360
Wow! This is super odd! Apparently it reverted the chunk that had anything removed by the update to what it was like before I edited the chunk. It sliced exactly one chunk's worth of my stuff out and left everything else in tact.

[2016-06-30 15:50] MJRLegends commented on #360
To be honest i think your world is all messed up and corrupted

[2016-06-30 16:07] Rezendore commented on #360
I agree, but I can still play on it as of current, I will just need to backup every couple of hours to be sure. Again, thanks for looking into things for me and helping out.

[2016-06-30 16:08] MarcasRealAccount commented on #360
No problem

[2016-06-30 19:26] #363 closed

[2016-06-30 19:35] LargeDoot opened #365 "1.4.6 seems to not have the electrolytic separator shown in NEI"
Hi, just upgraded my server and began playing and noticed that the electrolytic separator (mekanism) is hidden in NEI.  I'm using the FTB launcher. Not many more details i can think to give, but i can give more info if necessary.
Cheers

[2016-06-30 19:46] MJRLegends commented on #365
You can still craft it then but i will have a look

[2016-06-30 20:16] Ashdeep10 opened #366 "SERVER"
Is the server closed because it won't let me join.

[2016-06-30 20:18] MJRLegends opened #367 "OFFICIAL SERVER IS DOWN!"
Hosting issue again, will be back soon hopefully

[2016-06-30 20:18] MJRLegends commented on #366
see #367

[2016-06-30 20:18] #366 closed

[2016-06-30 20:20] Ashdeep10 commented on #367
Thanks that a relief

[2016-06-30 20:20] Ashdeep10 commented on #367
thats*

[2016-06-30 20:23] MarcasRealAccount commented on #367
ok, well im not really playing on it but i noticed it was down thought you were uppdating it or something like that, btw im playing on Frozensoul's Space Astronomy server

[2016-06-30 20:39] HypNosSteve opened #368 "1.4.6 Update Tinkers Construct tools are crashing my game"
ya its weird every time i try to break a tree with lumber axe my game freezes then crashes.

[2016-06-30 20:43] #368 closed

[2016-06-30 21:36] #365 closed

[2016-06-30 23:06] LuizLoyola opened #369 "Corrupted Mods Folder when Updated to 1.4.6"
I updated the modpack to the last version, but it keeps getting NullPointerException, so I found out that the "mods" folder is corrupted. I backed up and deleted every file of the launcher and redownloaded everything, but the issue continues.

Here's the log.
[fml-client-latest.txt](https://github.com/MJRLegends/Space-Astronomy-Feedback-/files/342542/fml-client-latest.txt)
(Srry 4 bad english, I'm

[2016-06-30 23:09] MJRLegends commented on #369
From what i can see your not using the launchers that the mod pack is on correctly so its a bug on your side, reinstall the launchers properly and redownload the mod pack and it will work

[2016-06-30 23:09] #369 closed

[2016-07-01 00:26] Gabei17 commented on #367
Do you know when the server will be back up??

[2016-07-01 00:27] MJRLegends commented on #367
Nope sorry :(

[2016-07-01 00:27] Gabei17 commented on #367
Will it be back up soon? :/

[2016-07-01 00:28] MJRLegends commented on #367
You just asked that question lol

[2016-07-01 00:28] Gabei17 commented on #367
Brilliant lol

[2016-07-01 01:32] BlackAsLight commented on #367
What's it looking like now?

[2016-07-01 01:47] MineKity commented on #358
OK, I checked this in both 1.4.5 and 1.4.6. The font *.png files appear to be transparent with white text and they appear to look the same both before and after the upgrade, so it may not be a font issue. This should be the directory that the quest book and the front loading screens use for the text right? I also tried disabling a bunch of other modes (NEI, ChickenCodeCore, Waila, etc.) but the ga

[2016-07-01 01:48] MJRLegends commented on #358
No idea tbh it seems to be a mac only issue

[2016-07-01 01:48] MJRLegends commented on #358
Maybe try install OptiFine?

[2016-07-01 09:55] Markus9063 opened #370 "Found a virus in the modpack, read this"
People there is Viruses in MJRLegends' mods, decompiled his mods and found a virus

[2016-07-01 09:58] MarcasRealAccount commented on #370
My pc died today so i can't help (typing on phone) and i decompiled the mods and i didn't find a virus, and where is the proof of the virus?

[2016-07-01 10:18] X3rion opened #371 "Space Astronomy Crash when I start singleplayer World"
The Modpack crash when i try open the singleplayer world... After some secs the whole game crash and i get back to the Launcher
- X3rion

[2016-07-01 10:25] MJRLegends commented on #370
There are no virus so stop talking crap

[2016-07-01 10:25] #370 closed

[2016-07-01 10:25] MJRLegends commented on #371
Crash log????????

[2016-07-01 10:26] MJRLegends commented on #370
He's just trying to cause me pain because all my custom mods have their source code on my github

[2016-07-01 10:30] badgernz commented on #370
Kid, stop talking crap and trying to cause trouble... I've never had any issues with any mods produced by mjrlegends.
OP is just trying to cause shit...

[2016-07-01 10:34] MJRLegends commented on #370
My custom mods that ive made for the mod pack https://github.com/MJRLegends/Space-Astronomy-Tweaks and https://github.com/MJRLegends/MorePlanetsExtras

[2016-07-01 10:38] WalaoEgg0424 commented on #370
@Markus9063 such a kiddo , if there is virus in MJRLegends's mods , he will get banned from posting any further mods or updates . Dont give any fucking fake information cuz i really hate them. Dont make me fucking ruin ur life.

[2016-07-01 11:35] X3rion commented on #371
Ehm... Now i installed the new version and the World loads... The problem is, that all Quests got deleted

[2016-07-01 11:37] #371 closed

[2016-07-01 11:38] X3rion commented on #371
What up now?

[2016-07-01 14:35] MJRLegends commented on #341
We will close this issue and see if it comes up again, as chickenchunks was seen to be the issue and its now gone so hopefully its sorted

[2016-07-01 14:35] #341 closed

[2016-07-01 20:23] Pjtomas opened #372 "Server shut down everytime i go chop down a rubber tree"
Since the update i cant cut down a rubber tree, all world works fine so far, but when i go chop it down, it starts and right at end of it crashes game, start ftb and launch game again, log back in and tree is chopped with drops on ground.

[2016-07-01 20:27] MJRLegends commented on #372
Already known please look at known issues page and closed issues

[2016-07-01 20:27] #372 closed

[2016-07-01 22:55] MJRLegends commented on #367
Update 1: Still awaiting a reply from them.... :(

[2016-07-02 04:41] Gabei17 commented on #367
I hope they reply soon cause i'm anxious to get back to me pies.

[2016-07-02 06:30] WalaoEgg0424 commented on #371
@X3rion what do u mean by all quests gt deleted?

[2016-07-02 06:51] tokinGanja commented on #259
Not sure what all changed, i do miss my Enhanced portals But i'll cope, Works wonderfully without optifine on the devco servers now no crashes reduced framerate but no issue at all, super playable, Thanks.

[2016-07-02 06:53] MJRLegends commented on #259
So this issues fixed?

[2016-07-02 07:24] Klade97 opened #373 "Game crashes out of nowhere"
[00:09:16] [Client thread/ERROR] [NotEnoughItems]: Error loading recipe:
java.lang.ArrayIndexOutOfBoundsException is the error code i got, idk if it is what caused the crash or if it is this line of code:

[00:09:16] [Client thread/WARN] [IC2.Item]: Detected invalid armor damage application:
java.lang.Throwable
	at ic2.core.item.armor.ItemArmorElectric.setDamage(ItemArmorElectric.java:154) [ItemAr

[2016-07-02 07:25] Klade97 commented on #373
It runs fine for me through the Curse speak launcher but not through ftb launcher and normally it runs for 2-3 hours and then crashes

[2016-07-02 07:25] MJRLegends commented on #373
Post the log in a pastebin not here!!!

[2016-07-02 07:27] Klade97 commented on #373
im new to this site so idk what or where the pastebin is...

[2016-07-02 07:28] MJRLegends commented on #373
Www.Pastebin.com

[2016-07-02 07:28] Klade97 commented on #373
thanks

[2016-07-02 07:28] MJRLegends commented on #373
Also i need the full crash log

[2016-07-02 07:31] Klade97 commented on #373
ok how do you want me to put it in pastebin?

[2016-07-02 07:38] Klade97 commented on #373
ok weird it didnt create a crash log of 12:14 when it happened

[2016-07-02 07:40] Klade97 commented on #373
[crash-2016-07-01_17.21.46-client.txt](https://github.com/MJRLegends/Space-Astronomy-Feedback-/files/344447/crash-2016-07-01_17.21.46-client.txt)

[2016-07-02 07:41] MJRLegends commented on #373
Update your mod pack

[2016-07-02 07:41] #373 closed

[2016-07-02 07:45] Klade97 commented on #373
its 1.4.7

[2016-07-02 10:06] Tithonius opened #374 "Crash when accessing 7x7x7 Big Reactor with 5 Rods and Enderium"
I have a big reactor that is 7x7x7 and has 5 fuel rods. The reactor has no fuel in it yet, but when i access it the game crashes. The crash log is as follows:

[crash-2015-11-29_13.37.44-client.txt](https://github.com/MJRLegends/Space-Astronomy-Feedback-/files/344497/crash-2015-11-29_13.37.44-client.txt)

[2016-07-02 10:08] WalaoEgg0424 commented on #374
@Tithonius Its the hqm problem , this is a known issue , u can check at known issues there.

[2016-07-02 17:37] Panakotta00 opened #375 "Crash "Description: Exception getting block type in world""
Hey guys. I hava a problem with my world, after stopping my server and starting it again, I have these CrashReport: [pastebin.com](http://pastebin.com/JbDZDxT4)
How can I make my World working?

[2016-07-02 20:23] badgernz opened #376 "Players getting T4 Schematics from the moon and cant find T2"
Hey MJRLegends,

I'm getting reports that players have only been finding T4 schematics on the moon, where from what I have seen and understand they should only/mostly be getting T2.

Can you please check the spawn rate of those? Maybe the T2 spawn rate and T4 need to be swapped for the moon?

[2016-07-03 00:06] #375 closed

[2016-07-03 00:07] #376 closed

[2016-07-03 00:07] #374 closed

[2016-07-03 00:09] MJRLegends commented on #367
Update 2: The hosting company owner is having health issues so thats why replies were slow but hes trying to fix it but thats hard when hes in hospital. But hes working on it.

[2016-07-03 03:13] Tithonius opened #377 "AE 2 Null Checks"
Game crashes upon reentering the overworld. AE 2 doesnt do proper null checks
[crash-2016-07-02_19.54.53-client.txt](https://github.com/MJRLegends/Space-Astronomy-Feedback-/files/344846/crash-2016-07-02_19.54.53-client.txt)

[2016-07-03 03:28] WalaoEgg0424 commented on #377
@Tithonius you habing quantum rings?

[2016-07-03 04:17] WalaoEgg0424 commented on #377
@Tithonius Your quantum singularity links for your ME system aren't being properly chunkloaded maybe

[2016-07-03 04:19] Tithonius commented on #377
Maybie, but you guys took out the only reliable chunk loader we had. You
removed the Chunk Loader from chicken chunks. the only other options we
really have are the world anchors, and they dont agree well with dimensions

On Sat, Jul 2, 2016 at 9:17 PM, WalaoEgg0424 <notifications@github.com>
wrote:

[2016-07-03 04:23] Tithonius commented on #377
we have the other ones that use fuel and RF too, but they only load a max of 2 chunks. We need chunk loaders back

[2016-07-03 04:35] WalaoEgg0424 commented on #377
@Tithonius im sorry , dis is all i can do cuz im not the modpack owner.

[2016-07-03 04:37] Tithonius commented on #377
nah your right. I can make it work. thanks for the tip

On Sat, Jul 2, 2016 at 9:35 PM, WalaoEgg0424 <notifications@github.com>
wrote:

[2016-07-03 04:46] WalaoEgg0424 commented on #377
@Tithonius your welcome :)

[2016-07-03 05:20] xXHastinqXx commented on #367
yeah... I'm anxious to get back to selling cream at McCream... #blame dean

[2016-07-03 05:21] Gabei17 commented on #367
Same, I'm anxious to get back to me pies

On Sunday, July 3, 2016, xXHastinqXx <notifications@github.com> wrote:

[2016-07-03 05:21] xXHastinqXx commented on #367
ello gabei

[2016-07-03 05:29] xXHastinqXx commented on #367
i am playing all the mods for minecraft 1.10.2 and am loving the new tinker's construct ... also love psi by vazkii but back to the topic of the server, i am kinda missing the server and i need to stop PM'ing MJR on curse and do moar github

[2016-07-03 05:53] Revoolution commented on #367
ah yea good ol vazkii, also whattup hastinq. After seeing in 1.4.7 that the gravi chestplate was fixed, im now excited to finally make it...

[2016-07-03 12:46] weetabixboy opened #378 "Tinkers' Construct Lumber axe Crash"
Been playing for a while and never had this problem at first. When ever I use a lumber axe from tinkers' construct it crashes my client the moment the block is about to break. It never used to happen and has only recently started to happen, I understand the pack has vein miner installed but it's not so great with cutting down whole tall trees, I understand it's due to the area of effect config for

[2016-07-03 12:56] MJRLegends commented on #378
Update your mod pack

[2016-07-03 12:56] #378 closed

[2016-07-03 16:56] xXHastinqXx commented on #367
ello

[2016-07-03 16:58] Gabei17 commented on #367
Ello

On Sunday, July 3, 2016, xXHastinqXx <notifications@github.com> wrote:

[2016-07-03 16:58] Gabei17 commented on #367
If the server gets back on today tommorow and possibly Tuesday I won't be
able to get on cause I'm at my grandmas and I'm making pies

On Sunday, July 3, 2016, xXHastinqXx <notifications@github.com> wrote:

[2016-07-03 18:49] Revoolution commented on #367
yea hastinq I agree, its now a casual chat, rather than to mourn for the servers death.

[2016-07-03 18:55] MJRLegends commented on #367
This issue isn't for general related chat.

[2016-07-03 18:57] MJRLegends commented on #377
@Tithonius please look at this next time and dont ignore it

![](https://i.gyazo.com/3280883eada7145419fae79ec5ac98be.png)

[2016-07-03 19:24] xXHastinqXx commented on #367
did you remove my messages from this thread?...
i shun you for being antisocial XD

[2016-07-03 19:25] Gabei17 commented on #367
Any new updates from the hosting company?

On Sunday, July 3, 2016, xXHastinqXx <notifications@github.com> wrote:

[2016-07-03 19:27] MJRLegends commented on #367
See update 2 above

[2016-07-03 19:28] Darklord957 commented on #367
Thanks for keeping us posted, hope the host gets better.

[2016-07-03 19:28] Gabei17 commented on #367
Kk

On Sunday, July 3, 2016, MJRLegends <notifications@github.com> wrote:

[2016-07-03 19:29] xXHastinqXx commented on #367
I actually tried to log onto the hosting site olympusservers and the other one and it says the website for the hosting company is actually down.

[2016-07-03 19:29] Gabei17 commented on #367
Same

On Sunday, July 3, 2016, Darklord957 <notifications@github.com> wrote:

[2016-07-03 19:30] Gabei17 commented on #367
So I guess all servers that use that hosting service are down too?

On Sunday, July 3, 2016, xXHastinqXx <notifications@github.com> wrote:

[2016-07-03 19:33] xXHastinqXx commented on #367
yes, through all games that use the  hosting site as well which is bad because some steam game servers may be down as well.

[2016-07-03 19:33] MJRLegends commented on #367
Please stop using this issue for chat purposes

[2016-07-03 19:34] xXHastinqXx commented on #367
sorry

[2016-07-03 19:35] MJRLegends commented on #259
@tokinGanja ???

[2016-07-03 19:36] xXHastinqXx commented on #367
this is most likely the longest time the server has been down ... ever... and i really hope the host is okay... we should be more worried about the host than the server.

[2016-07-03 22:20] Tithonius commented on #377
I checked and this issue wasnt on there, so dont yell at me

On Sun, Jul 3, 2016 at 11:57 AM, MJRLegends <notifications@github.com>
wrote:

[2016-07-03 22:23] MJRLegends commented on #377
@Tithonius
![](https://i.gyazo.com/f8c956066280ae8702f0266bf12c79f5.png)

[2016-07-04 03:03] cogscreamsrage opened #379 "World Crash after updating to 1.4.7 on server"
Server works fine running 1.4.6, but updated to 1.4.7 and server crashes while loading the world.

http://pastebin.com/ac47saBD

[2016-07-04 12:35] xXLightAngelXx opened #380 "Serevrside Crash: Client"
When I join a server it is ok but after a hour when I next went to use the Mackism Teleporter It immedietly crashed my game and hence kicked me off the serevr... it only occured later on after using the device so I am not sure of the main caus but I know it was deffiently not to do with the client as when Im in single player the client runs fine.

---- Minecraft Crash Report ----
// Don't do that.

[2016-07-04 12:37] WalaoEgg0424 commented on #380
@xXLightAngelXx u having crash? if yes , can u provide the crashlog on pastebin com. if no , then can u describe the problem?

[2016-07-04 12:49] xXLightAngelXx opened #381 "Crash with Travel Anchor"
http://pastebin.com/raw/P3mAEn1c

[2016-07-04 12:50] xXLightAngelXx commented on #381
Thats the log

The issue I spotted is Forge Multipart being too far ahead of requested version it also has soem other mo issues showing in the log but I brushed them aside as they are probally being worked on

[2016-07-04 12:51] WalaoEgg0424 commented on #381
@xXLightAngelXx delete ur last issue == , btw POST AT PASTEBIN.COM , or else we are not gonna help u.

[2016-07-04 12:54] xXLightAngelXx commented on #381
sorry i will  ^-^

[2016-07-04 12:57] xXLightAngelXx commented on #380
how i dellete?

[2016-07-04 13:07] xXLightAngelXx commented on #380
if u like I can try a screenshot instead ^_^

[2016-07-04 13:08] xXLightAngelXx commented on #381
I cant it happend last night ...

[2016-07-04 13:17] xXLightAngelXx commented on #381
theer ^-^ straight from pastbin

[2016-07-04 13:36] xXLightAngelXx opened #382 "Forge: Non Mods detected in Mod folder"
The Modpack is beign forced by the Modloader to ru nthe Non mods that are automattically insatlled within the Mod folder, this in turn can caus serve Stabaility issues and in the logn run can break a lot of the mods depending on the serverity of the issue.

the mod loader itself reccommeds removing the non-mods fro mthe mod folder so I can save u having to lose the non-mods by reccoemding coding t

[2016-07-04 15:41] MJRLegends commented on #381
This issue is the same as the #380 one you posted? looking at the crash logs

[2016-07-04 15:42] #380 closed

[2016-07-04 15:43] MJRLegends commented on #379
Solution 1: Remove computronics, then load the world and then readd the mod (But all computronics will be removed)
Solution 2: Use MCEdit to get rid of this block at these coords 515,72,253 (X,Y,Z)

[2016-07-04 15:44] #377 closed

[2016-07-04 15:48] MJRLegends commented on #382
I dont see a issue in this log you can supplied also follow this
![](https://i.gyazo.com/f8c956066280ae8702f0266bf12c79f5.png)

[2016-07-04 15:49] MJRLegends commented on #381
Did you change your username for minecraft?

[2016-07-04 16:51] rexrapter1234 commented on #367
Is the server back up and running or still down? If so I can't seem to login to the server. (Can't connect to server) message.

[2016-07-04 16:51] MJRLegends commented on #367
Did i say it was back up???

[2016-07-04 17:28] rexrapter1234 commented on #367
I was reading the other topic (World Crash after updating to 1.4.7 on server) and thought maybe it was backup then when down again.

[2016-07-04 19:04] Gameplayer01 opened #383 "Forge Mod Loader has found a problem with your minecraft installation..."
When i start the modack (from curse launcher), it say this and cant play:
Forge Mod Loader has found a problem with your minecraft installation. You have mod sources that are duplicate within your system.
Mod Id: File name
SpaceAstronomyTweaks-1.0.jar
SpaceAstronomyTweaks-1.1.jar

PLEASE FIX IT

sorry bad english

[2016-07-04 19:32] MJRLegends commented on #383
Reinstall the mod pack

[2016-07-04 19:32] #383 closed

[2016-07-04 23:00] WalaoEgg0424 commented on #382
@xXLightAngelXx why there r Modloader when ftb is using forge ._.

[2016-07-05 00:40] MJRLegends commented on #367
The new servers are live(restart your mod pack if loaded and the new ip will be in your server list), server 1 which this issue is about and is the original old server will be back soon its half sorted atm :P

[2016-07-05 00:41] #367 closed

[2016-07-05 05:09] Klade97 opened #384 "Game crashes because of EnderIO"
IDC if this is in the wrong place or not and i cant find anything on pastebin so help me.
[crash-2016-07-04_21.53.46-server.txt](https://github.com/MJRLegends/Space-Astronomy-Feedback-/files/347111/crash-2016-07-04_21.53.46-server.txt)
idk exactly how to uninstall that rv3 and go for rv2 but its what curse downloaded for me

[2016-07-05 05:11] WalaoEgg0424 commented on #384
@Klade97 bro , pastebin is u paste ur crashlog into there and give us the link. :/

[2016-07-05 05:12] Klade97 commented on #384
dude honestly idk how any of this works cus im not a modder and normally dont have to report anything

[2016-07-05 05:13] WalaoEgg0424 commented on #384
@Klade97 u just copy the whole log and paste into pastebin then it will generate a link for u , how hard is it :/

[2016-07-05 05:14] Klade97 commented on #384
ok

[2016-07-05 05:17] Klade97 commented on #384
http://pastebin.com/xtesG9Yn

[2016-07-05 05:23] WalaoEgg0424 commented on #384
@Klade97 this is not a crash by enderio , might have something to do with Immersive Engineering.

[2016-07-05 05:24] Klade97 commented on #384
then what exactly is line 400 meaning?

[2016-07-05 05:25] WalaoEgg0424 commented on #384
@Klade97 that enderio sentence have nothing to with crash , its just like fighting with AE2 rv3 but that doesnt crash the game.

[2016-07-05 05:25] WalaoEgg0424 commented on #384
@Klade97 btw what are u doing in ur world while u get this crash?

[2016-07-05 05:26] Klade97 commented on #384
oh. so what do i do then? cus it was loading up everything and now when i create or play a world it says the first thing it normally says when loading the world and then crashes

[2016-07-05 05:27] Klade97 commented on #384
i was walking around looking for an AE2 Meteor to mine

[2016-07-05 05:28] WalaoEgg0424 commented on #384
@Klade97 you create a world crash and play a world also crash?

[2016-07-05 05:28] Klade97 commented on #384
the other day it crashed when i hit a tree with my hand and now its just crashing when i walk

[2016-07-05 05:28] Klade97 commented on #384
yup

[2016-07-05 05:36] WalaoEgg0424 commented on #384
@Klade97 @MJRLegends might know how to fix it.Its weird that theres no result when i google it , not same as urs crashlog.

[2016-07-05 05:38] Klade97 commented on #384
right
i actually opened an issue the other day and he got mad at me and closed it, idk why but he told me to update and i was already updated to the latest on curse

[2016-07-05 05:42] WalaoEgg0424 commented on #384
@Klade97 he gt mad at u cuz u didnt paste the long at pastebin.com , ur modpack is the latest version i think cuz of the version of the TiC is same as the latest version of the modpack.

[2016-07-05 05:43] Klade97 commented on #384
on curse it says im at 1.4.7

[2016-07-05 05:44] WalaoEgg0424 commented on #384
@Klade97 do u have skype?

[2016-07-05 05:44] Klade97 commented on #384
on my phone but ppl at my house are asleep

[2016-07-05 05:46] WalaoEgg0424 commented on #384
@Klade97 nvm , @MJRLegends will take care of it. im sorry that i cant help u.

[2016-07-05 05:46] Klade97 commented on #384
its all good man, thanks for trying

[2016-07-05 11:59] MJRLegends commented on #384
Already reported issue go look at closed issues

[2016-07-05 11:59] #384 closed

[2016-07-05 14:45] ninosfl opened #385 "Mod missing: AE2 Stuff"
Modpack version 1.4.7
Windows 10
Java version "1.8.0_91"
Launcher version 7.1.6018.41463 Beta

Steps to recreate:
(Curse launcher)
Click Minecraft (icon)
Click BROWSE ALL MODPACKS
Search for "Space Astronomy" and install it.

Expected behaviour:
AE2 Stuff should be included as it is requirement for some quests.

What went wrong:
AE2 Stuff is missing/not installed.

[2016-07-05 14:48] WalaoEgg0424 commented on #385
@ninosfl try reinstall the modpack?

[2016-07-05 15:03] MJRLegends commented on #385
yeah @WalaoEgg0424 @ninosfl

[2016-07-05 15:03] #385 closed

[2016-07-05 15:57] JackDT opened #386 "Official Server (Space 2) Quarry Not Mining"
Within the official server in the mining world dimension, i placed a quarry in my claim land powered by 4 stirling engines. At first, only one face of the frame appeared. The arm attempted to mine blocks, and it plays the breaking animation, but the block is not broken or placed into the chest. The arm then moves on to the next block and continues not breaking any blocks.

[2016-07-05 15:58] Gabei17 commented on #386
I've had this issue too but I don't get it

On Tuesday, July 5, 2016, JackDT <notifications@github.com> wrote:

[2016-07-05 16:09] Luxxx-R commented on #386
<The Quarry's Frame Must be outside of the claim.> The Quarry Block CAN be inside if you want it.

[2016-07-05 16:10] Luxxx-R commented on #386
the frame has to be outside the claim

[2016-07-05 16:12] Gabei17 commented on #386
Well that's good to know

On Tuesday, July 5, 2016, Luxxx-R <notifications@github.com> wrote:

[2016-07-05 16:15] JackDT commented on #386
I removed the claim and it fixed it... So it seems that the frame can not build within my claim

[2016-07-05 16:50] Klade97 commented on #341
@MJRLegends This doesnt help me at all and all of the other closed issues you told me to look at basically lead to this, i have not added any mods that are not in the pack originally and i still have world crashes when it hits the loading screen

[2016-07-05 16:51] MJRLegends commented on #341
Its been posted 4 times its not hard just too look at the closed issues

[2016-07-05 16:52] MJRLegends commented on #341
And its been reported to the mod devs so theres a issue on their issue tracker

[2016-07-05 16:53] MJRLegends commented on #386
Yeah you cant claim the area its mining only the quarry block and your power and storage

[2016-07-05 16:53] #386 closed

[2016-07-05 16:56] Klade97 commented on #341
so bassically stop playing this modpack? ok fine

[2016-07-05 16:57] MJRLegends commented on #341
At the end of the day your just being lazy and not looking, its not like it's hard to do it

[2016-07-05 17:01] Klade97 commented on #341
i have looked at the one created 6 days ago and the others and they dont help me when i dont have anything that deals with them like my world folder being named weird or having extra mods not in the gamedownload

[2016-07-05 17:06] MJRLegends commented on #341
#341 all you had to do was go to the second page of the closed issues and its labeled "Immersive engineering Crash" so its easy to notice or go to the Immersive engineering issue tracker and its on there as a open issue too at the top

[2016-07-05 17:08] Klade97 commented on #341
this is #341 i already found this and it was the first one i clicked on

[2016-07-05 17:10] MJRLegends commented on #341
Then you have the links to the reported issue post on their mod page

[2016-07-05 17:24] Klade97 commented on #341
so what i understood was that i should just not use quarries or IE?

[2016-07-05 17:26] MJRLegends commented on #341
@Klade97 im not sure on the issue no one knows the issue, it seems to be a issue with them and Immersive engineering power stuff, i would suggest dont use Immersive engineering power with quarries or connect it to a power storage in the middle so Immersive engineering isnt directly interacting with the quarries

[2016-07-05 17:26] Klade97 commented on #341
oh ok sounds good then

[2016-07-05 17:28] MJRLegends commented on #341
@Klade97 also sorry i didnt mean to sound rude beforehand just it gets annoying when people dont take the time to look at known issues page and closed issues and repost them :P

[2016-07-05 17:31] Klade97 commented on #341
yeah i understand it, also should i take out immersive integration as well?

[2016-07-05 17:40] Klade97 commented on #341
ok ik im not the best with coding and stuff like that but i moved the mod and config for IE to a folder on my desktop and loaded up minecraft and it says it couldnt be found. how would i get it to allow minecraft to load without it?

[2016-07-05 17:49] MJRLegends commented on #341
Yeah because its a addon of the main mod and then you could add them back in and just not use them with quarries

[2016-07-05 17:49] Klade97 commented on #341
oh ok

[2016-07-05 17:52] Klade97 commented on #341
so how would i be able to load my world? cus my quarry is in the mining world with the IE water wheel and the capacitor for IE

[2016-07-05 17:54] Panakotta00 opened #387 "Client crashs by showing NEI recepies"
Hey Guys,
my problem is, on my server, when I show an recepie of an Item/Block in NEI my client crashs and at the Server I have an Error (not an Crash), the Error is:

[code]

but in Singleplayer I can show recepies.

Can anybody help me?

[2016-07-05 17:59] MJRLegends commented on #341
If you remove IE and and the integration addon and then load the world then readd the mods

[2016-07-05 18:01] Klade97 commented on #341
do i remove it before or after the mojang/fml loading at the begining?

[2016-07-05 18:02] MJRLegends commented on #341
Close the mod pack remove it then load the mod pack and load the world then save and exit the world and close the mod pack and readd them back and load the mod pack and load the world

[2016-07-05 18:07] Klade97 commented on #341
well when i did that fml loaded everything and then it said that the mod couldnt be found and says to check the latest log for more info

[2016-07-05 19:05] MJRLegends commented on #387
Weird, does it happen on any other server

[2016-07-05 20:54] cogscreamsrage commented on #379
Worked, Server has been updated, and running smoothly

[2016-07-05 20:58] #379 closed

[2016-07-06 08:42] kde99 opened #388 "Game corrupts world on exit"
When I make a world and quit the game corrupts the save file (level.dat and level.dat_old) so I can never play that map again. It happens 99% of the time and the log shows nothing. It also doesn't save other players' inventories (when the game is opened on LAN). When someone logins grabs something and the relogs it's gone and they get the starting inventory.

What can cause such behavior? This als

[2016-07-06 14:13] MJRLegends commented on #367
Server 1 is now live (old server)

[2016-07-06 14:21] Panakotta00 commented on #387
I don't test it on other servers, but why did it work earlyer perfect?

[2016-07-06 16:38] Webster1981 opened #389 "Questbook bug"
Hello i have a problem with my Questbook
The Quest Storage System is still on the first Quest and ends

Sorry for my bad english!
![2016-07-06_18 36 18](https://cloud.githubusercontent.com/assets/20323793/16626360/cc5864ac-43a8-11e6-9bfe-98ef9ff8fcc2.png)

[2016-07-06 16:39] LargeDoot opened #390 "Mekanism: Electrolytic Separator HUGE power draw"
Hi,
Really sorry if this is the wrong place for this / this is a mod bug, but the power draw required by a fully upgraded electrolytic separator is crazy (about 20.4kRF/t each), and to make enough oxygen to supply an elite purification factory (also fully upgraded with speed and energy) you need 7 of the separators. This totals to almost 150kRF/t just for ore tripling, which is obviously a substan

[2016-07-06 16:39] Webster1981 commented on #389
![2016-07-06_18 38 47](https://cloud.githubusercontent.com/assets/20323793/16626388/ef6d3080-43a8-11e6-9030-4b9efeeb8f3c.png)

[2016-07-06 22:31] MJRLegends commented on #389
Its not a bug you just need to do other quests in other sections of it

[2016-07-06 22:31] #389 closed

[2016-07-07 02:26] MJRLegends commented on #387
idk i think you was just having internet/network issues with mc

[2016-07-07 02:26] #387 closed

[2016-07-07 02:27] #382 closed

[2016-07-07 02:27] MJRLegends commented on #358
@MineKity whats the latest on this issue?

[2016-07-07 02:58] Awkiller opened #391 "The Modpack does not Launch"
When ever I try and Launch the Game from FTB It Gives no information in the console but

"Unable To Launch"

And I have disabled the OpenComputers mod thinking it would help and it still does not launch

[2016-07-07 04:17] merach opened #392 "No charged certus quartz?"
I've done an absurd amount of mining and not come across any charged certus quartz. The charger requires charged certuz quartz, so this probably got gated behind minechem. Might want to make that happen organically in the quest book, don't allow the compass quest before minechem.

[2016-07-07 10:14] MJRLegends commented on #392
It comes in quartz ore as a possible drop but its not very common

[2016-07-07 10:14] #392 closed

[2016-07-07 12:10] MJRLegends commented on #391
Send me the log please

[2016-07-07 18:13] cungefehr opened #393 "Quest: Starting Big Reactors does not complete"
Hello folks,

the "Starting Big Reactors" Quest is currently not able to complete - the Detection won´t detect "Big Reactor Casings". I tried manually detect too, but it does not do the trick.

The Fuel Rod was completely accounted for.

Thanks,

[2016-07-07 20:12] Awkiller commented on #391
Ok the link to the log is  http://paste.feed-the-beast.com/view/3a39cb3c   or  http://paste.feed-the-beast.com/view/b5a75af4

[2016-07-07 20:14] MJRLegends commented on #391
Try reinstalling all the launcher and also try adding more ram

[2016-07-07 20:16] MJRLegends commented on #388
This isnt anything i can reproduce and your lack of detail on the issue isnt enough for me to do anything and it seems tbh to be a issue on yourside

[2016-07-07 20:16] #388 closed

[2016-07-07 21:56] Awkiller commented on #391
Ok well Reinstalling it worked

[2016-07-07 21:56] #391 closed

[2016-07-08 00:15] Spellkaze opened #394 "Planet crash issue with the official server"
I found.. .something not so confortable to say, with all the problems in the server about the planets and crahses, i logged out from dark asteroids and now i crash everytime in server 1, it was a test, since i dont play in server 1 i dont mind, check it: http://pastebin.com/GaexB940

This issue seems to happend only in the official server

[2016-07-08 01:37] KeepItTrill24 opened #395 "Crash when opening inventory"
http://pastebin.com/CC2makR5

[2016-07-08 01:49] Spellkaze commented on #395
Please use http://pastebin.com/ for the crash log

[2016-07-08 01:50] KeepItTrill24 commented on #395
http://pastebin.com/CC2makR5

[2016-07-08 01:50] KeepItTrill24 commented on #395
Done!

[2016-07-08 02:23] MJRLegends commented on #394
Solution use direct ip for official server

Hover over player count for the server in your multiplayer server list

[2016-07-08 02:26] MJRLegends commented on #395
You need to delete this folder \SpaceAstronomy\minecraft\saves\NEI

if its curse you can find the main folder in your docs and ftb i think is in AppData folder from your user folder by default

[2016-07-08 03:28] KeepItTrill24 commented on #395
So it's all client based? Nothing I need to do on the server? We're using a server host.

[2016-07-08 03:44] KeepItTrill24 commented on #395
Tried that and it didn't work.

[2016-07-08 17:13] Hazmatik commented on #390
I'm pretty sure they are intended to be that way so not to make infinite energy with the hydrogen and the gas burning generators. Galacticraft oxygen can be used in Mekanism machines however for a cheaper alternative.

[2016-07-09 06:44] KeepItTrill24 commented on #395
I joined a single player game and left and then went onto my multiplayer server and it worked. However, after I close the game and join the multiplayer it does it again. I have to join singleplayer everytime.

[2016-07-09 12:06] MJRLegends commented on #390
@aidancbrady is this meant to be like this?

[2016-07-09 15:09] MineKity commented on #358
I'm not sure how to install OptiFine. You can close this though, I can wait until the next release and see if it fixes itself. It seems to be a random Mac issue that occasionally crops up with minecraft. So far no one has a root cause.

[2016-07-09 16:11] MJRLegends commented on #358
Yeah no problem and yeah i think its a minecraftminecraft issue or forge issue maybe contact them

[2016-07-09 16:11] #358 closed

[2016-07-09 16:12] MJRLegends commented on #394
Any chance you try and reproduce this again as ive made some changes to the servers

[2016-07-09 16:14] MJRLegends commented on #381
Or did you delete any files before this came up?

[2016-07-09 16:14] #259 closed

[2016-07-09 16:16] MJRLegends commented on #393
Sorry i completely missed your issue, i will take a look and get back to you

[2016-07-09 16:41] Spellkaze commented on #394
The same crash as always, the crash report seems a bit different but i don't know if actually helps for something http://pastebin.com/F22vrBbT
The direct ip workaround still fixes this issue

[2016-07-09 18:09] monkeyboy756 opened #396 "FMLMod rejected"
I downloaded this mod from the Curse Launcher, downloaded his pack from there and went to play. when i go to directly join servers 1,2 or 3 i get a 'MOD REJECTED' error

http://pastebin.com/vhNrgzmM

Please help because this modpack looks really fun

[2016-07-09 19:57] LargeDoot commented on #390
@Hazmatik Can you tell me how I can use the galacticraft oxygen for this as I have tried many methods suggested on forums (etc.) to no avail.

[2016-07-09 23:01] MJRLegends commented on #396
Reinstall the mod pack

[2016-07-09 23:01] #396 closed

[2016-07-10 01:23] Kypore opened #397 "Can't craft Blank patterns"
A friend and I setup a sever but we cant craft blank patterns. Because of this we cant really go any further than where we are at.

[2016-07-10 04:29] TheDerpyCat opened #398 "Crash when putting in quest book into autonomous activator"
I was building a essence farm with essence berry bushes and autonomous activators and I accidentally put in my quest book into one of the activators which crashed the server I was running.
Crash Report
http://pastebin.com/0USyWzWD

[2016-07-10 07:54] xBlizzDevious opened #399 "[SA 1.4.7] Rotary Condensentrator Non-Existent"
I'm trying to build a Mekanism Fusion Reactor but the Rotary Condensentrator doesn't exist. The Wiki also states that a portable tank is required in the recipe but portable tanks don't exist either (Mekanism ones, at least).

I have checked the mekanism.cfg file and both are enabled.

[2016-07-10 08:02] MJRLegends commented on #399
They do exist just craft them and you will see

[2016-07-10 08:02] #399 closed

[2016-07-10 08:16] xBlizzDevious commented on #399
That's my issue - the recipes DO NOT exist. I can't see them in NEI and I can't craft them with the recipes from the wiki.

[2016-07-10 08:31] MJRLegends commented on #399
What version of the mod pack you using

[2016-07-10 08:31] MJRLegends commented on #399
Because they show for me

[2016-07-10 08:41] xBlizzDevious commented on #399
1.4.7 through the FTB Launcher. I'm on a privately hosted server (by me).

I checked in a separate single player world too - no luck.

I did however, manage to find it in the creative tabs from which I can view the recipes - which the portable tank is different to the wiki and explains why I couldn't make it.

I have now successfully crafted the items but they're still not showing in NEI and they

[2016-07-10 16:04] cungefehr commented on #393
Update: Our server admin / group leader was able to finish the quest without issues. How and why this happened we don´t know.

[2016-07-10 16:05] #393 closed

[2016-07-10 20:21] Statboy1 opened #400 "Constantly opening inventory menu"
Tinkers Armor GUI inventory constantly opens and won't remained closed. I found a workaround for this issue, it's caused by not having the Armor GUI bound to a key, so binding it to something fixes it. I start every mod pack by unbinding all the mod specific keys and only binding to them to something once I need them. It would be nice to be able to leave this unbound as it's not something I ever n

[2016-07-10 20:35] MJRLegends commented on #400
This is not a bug with the mod pack

[2016-07-10 20:35] #400 closed

[2016-07-10 20:53] Statboy1 commented on #400
It's the only modpack i've seen this behavior on. I use tinkers quite a lot.

[2016-07-10 20:54] MJRLegends commented on #400
Never happened to me and nothing has changed with thinkers in the mod pack so just reinstall the pack or/and start a new world

[2016-07-10 20:58] Statboy1 commented on #400
I tried both of those and that didn't change anything. For whatever reason, and I have no ability to mod so I don't know why, on this modpack only, this happens.

[2016-07-10 23:16] nchalus opened #401 "Crash after one minute in-game"
It doesn't matter if I am moving around or just idling. After a minute of loading up my world it will just crash. It started happening when I started mixing Thermal Expansion conduits with MineFactory Reloaded machines. Thought these mods were pretty compatible? Here is a copy of my crash log. If you can help please let me know! I have more planets to explore ;)

---- Minecraft Crash Report ----
/

[2016-07-11 02:19] MJRLegends commented on #397
They work fine for me

[2016-07-11 02:19] #397 closed

[2016-07-11 02:20] MJRLegends commented on #398
You need to MCEdit out the autonomous activators

[2016-07-11 15:48] MJRLegends commented on #401
One you have optifine which i dont support and two your not bothering to apply to the rules of posting issues here

[2016-07-11 15:48] #401 closed

[2016-07-11 16:15] Endergold09 opened #402 "crash when i enter in space2"
i'm crashing when i enter in space2 but not in space 1 and 3

[2016-07-11 16:16] MJRLegends commented on #402
Go on the hub server and it will tell you the direct ips

[2016-07-11 16:16] #402 closed

[2016-07-11 16:23] Endergold09 commented on #402
i'm in

[2016-07-12 00:44] Sqwizx opened #403 "What is the current version of Space Astronomy installed in the official server?"
as the title says, please let me know thanks!

[2016-07-12 00:51] MJRLegends commented on #403
Latest

[2016-07-12 00:51] #403 closed

[2016-07-12 16:12] #398 closed

[2016-07-12 16:13] #390 closed

[2016-07-12 16:13] #332 closed

[2016-07-13 01:14] themadjem opened #404 "Personal Server Crash"
I tried to start my server today and received this crash, I believe it is related to Immersive Engineering, but as far as I can tell, there is now way to shut off specific items from the mod. All server settings are default. We were playing on the server the previous night, all logged off and /stop was used to turn the server off, then this crash happened the next time I tried to start it.

[crash

[2016-07-13 01:18] MJRLegends commented on #404
https://camo.githubusercontent.com/46c893ec252ee4fdd8aaf24abdaa5362c3f1d803/68747470733a2f2f692e6779617a6f2e636f6d2f33323830383833656164613731343534313966616537396563356163393862652e706e67
![image](https://cloud.githubusercontent.com/assets/8526321/16788829/16bbe5e0-48a0-11e6-964f-c43e43be615f.png)
Also this is a known bug

[2016-07-13 01:18] #404 closed

[2016-07-13 09:27] VictorC01 opened #405 "DNA combiner crashes the world"
I used a DNA combiner and i cant enter to my house in space 2 server, can you fix it? THe DNA combiner that crashes the world is near  X: 1634 Z: 1640 Y:65

[2016-07-13 09:51] MJRLegends commented on #405
Yeah just don't keep joining or it will keep crashing the server

[2016-07-13 10:12] MJRLegends commented on #405
Fixed

[2016-07-13 10:12] #405 closed

[2016-07-13 12:29] xBlizzDevious opened #406 "Severe memory leak causing lag"
Something in this pack is causing a severe memory leak and subsequently crashing my server on a regular basis.

It seems to have something to do with mechanism - possibly the reactor and/or the machines to process deuterium and tritium or it could have something to do with the induction matrix.

I can provide logs if required but all I found was a Java OutOfMemory error.

[2016-07-13 12:30] MJRLegends commented on #406
You need to add more ram to your game thats the issue

[2016-07-13 12:31] xBlizzDevious commented on #406
Please don't close tickets without investigating them.

I initially had 6GB allocated but that got hit so I allocated 12GB. I can watch the memory usage in the Task Manager go up by about 1-2MB every second until it hits the cap and crashes.

This IS an actual issue.

[2016-07-13 16:46] GlobalTrashElite opened #407 "Official Server Issue (Or mine)"
I logged off while in the deep dark, and when I returned the next morning it just crashed as soon as I joined in. Not sure if it's my files, or if it is a server issue, any help would be appreciated.

[2016-07-13 16:53] MJRLegends commented on #407
We are dealing with it over skype

[2016-07-13 16:53] #407 closed

[2016-07-13 17:13] RalphFox commented on #345
Just a heads up. I've found your thread before finding the other thread, might as well as direct you people:
https://github.com/CoFH/Feedback/issues/1199
Been fixed in dev version.

[2016-07-14 09:55] SamuxD opened #408 "Game wont open"
my game load until i can see my worlds but when i try to open a World it  brings me back to the launcher

[2016-07-14 09:57] SamuxD commented on #408
i think this is the changelog http://pastebin.com/Zmx3n72i

[2016-07-14 10:33] SamuxD commented on #408
it is only one singelplayer world
when i create a new one is everything fine
but this world wont load

[2016-07-14 10:49] SamuxD commented on #408
http://paste.feed-the-beast.com/view/82f7f534 this is the real changelog

[2016-07-14 10:51] WalaoEgg0424 commented on #408
@SamuxD we need the crashlog.

[2016-07-14 12:54] SamuxD commented on #408
where can i find the crashlog
because when it go back to the launcher the log close

[2016-07-14 12:57] SamuxD commented on #408
WARNUNG: Could not open/create prefs root node Software\JavaSoft\Prefs at root 0x80000002. Windows RegCreateKeyEx(...) returned error code 5.
what does that mean it was red in the log

[2016-07-14 12:59] MJRLegends commented on #408
Looks like your java is messed up reinstall your java and launcher and mod pack

[2016-07-14 13:03] SamuxD commented on #408
means that that my world is gone ?

[2016-07-14 13:04] MJRLegends commented on #408
No you can make a copy of that as it should be in the saves folder

[2016-07-14 13:05] SamuxD commented on #408
from normal Minecraft or where can i find the world

[2016-07-14 13:10] MJRLegends commented on #408
Which launcher you using

[2016-07-14 13:13] SamuxD commented on #408
Ftb

[2016-07-14 13:13] SamuxD commented on #408
FTB_Launcher

[2016-07-14 13:17] MJRLegends commented on #408
Go to this folder C:\Users\YOURUSERNAMEHERE\AppData\Local\ftblauncher\SpaceAstronomy\minecraft

YOURUSERNAMEHERE = Your user account on your computer, if you go to the C:\Users\ folder your see all the users possible

[2016-07-14 13:23] MJRLegends commented on #345
Added to the known issues page so will close this issue and i will keep a eye on the release for the fix

[2016-07-14 13:23] #345 closed

[2016-07-14 13:29] MJRLegends commented on #406
Can you send me a copy of your world and give my a full log after playing for a while when it gets to 100%

[2016-07-14 13:31] MJRLegends commented on #395
Try to reinstall your whole version of the mod pack, you can make copies of your single player worlds first if needed

[2016-07-14 13:33] SamuxD commented on #408
http://paste.feed-the-beast.com/view/8094bf3a
it wont work but now it gives me the crashlog

[2016-07-14 13:35] MJRLegends commented on #408
Please use pastebin for your logs and please only give me the crash logs not the whole log, and are you trying to load a world or it that just happening when loading the mod pack

[2016-07-14 13:39] SamuxD commented on #408
im trying to load a world

[2016-07-14 13:40] MJRLegends commented on #408
Ok what happens if you load a new world?

[2016-07-14 13:42] SamuxD commented on #408
it load until i can nearly see my world and then it goes back to the launcher and close Minecraft

[2016-07-14 13:43] SamuxD commented on #408
how can i see only the crashlog

[2016-07-14 13:43] MJRLegends commented on #408
Go to this folder C:\Users\YOURUSERNAMEHERE\AppData\Local\ftblauncher\SpaceAstronomy\minecraft\crash-logs\

[2016-07-14 13:45] MJRLegends commented on #408
And then use www.pastebin.com to post them here

[2016-07-14 13:53] SamuxD commented on #408
http://pastebin.com/u6AVmEcS
is this better ?

[2016-07-14 13:54] MJRLegends commented on #408
@SamuxD did you try to reinstall mod pack?

[2016-07-14 13:55] lorddusk commented on #398
1.7.10 is no longer supported.

[2016-07-14 13:55] SamuxD commented on #408
yes 4 times

[2016-07-14 15:48] Blocki92 opened #409 "Game crashing on startup"
My Game wont start...
I even tried reinstalling it

Here is my crashlog: http://pastebin.com/Fd51KnLh

[2016-07-14 17:26] MJRLegends commented on #409
This isnt a mod pack issue, its a issue with your graphics card not liking java 8, so it will be the same for what ever mod pack you load. Change back to java 7 or get a newer graphics card

[2016-07-14 17:26] #409 closed

[2016-07-14 17:28] MJRLegends commented on #409
http://bfy.tw/6kKg

[2016-07-14 19:22] xXHastinqXx opened #410 "I keep on crashing on the space astronomy server"
I just keep on crashing sometimes... it looks like some kind of issue with the rendering here's a pastebin of the crash log http://pastebin.com/4yVWKB56

[2016-07-14 21:04] RiftSoul opened #411 "Game crashes when starting the game"
This is the changelog:

---- Minecraft Crash Report ----
// Hey, that tickles! Hehehe!

Time: 14/07/16 17:56
Description: Initializing game

java.lang.IllegalStateException: java.lang.ClassNotFoundException: logisticspipes.network.packets.block.CraftingCycleRecipe
	at com.google.common.reflect.ClassPath$ClassInfo.load(ClassPath.java:269)
	at logisticspipes.network.PacketHandler.initialize(PacketHa

[2016-07-14 21:13] RiftSoul commented on #411
Print:

http://pt-br.tinypic.com/view.php?pic=345eqhj&s=9#.V4gARPkrK01

OR

https://cloud.githubusercontent.com/assets/20465705/16856054/9fc6f9f2-49ee-11e6-93e2-a38e0dc6daaa.jpg)

[2016-07-14 21:14] RiftSoul commented on #411
![cats](https://cloud.githubusercontent.com/assets/20465705/16856101/cb91599c-49ee-11e6-828e-2fd461cca832.jpg)

[2016-07-14 21:15] xBlizzDevious commented on #406
I only know one place where I can store a 500MB file that I can share but I don't want to share the link publicly - is there a way I can PM you the link?

[2016-07-14 21:18] RiftSoul commented on #411
It only worked perfectly one time, but it was to laggy and i installed optifine. After this, the game crashes. I deleted optifine mod, but still don't working.

[2016-07-14 21:35] #410 closed

[2016-07-14 21:37] MJRLegends commented on #411
Please follow this for your first post with the log
![image](https://cloud.githubusercontent.com/assets/8526321/16788829/16bbe5e0-48a0-11e6-964f-c43e43be615f.png)

[2016-07-14 22:27] Caboosanaitor opened #412 "Game crashes without fail"
oddly enough, my game only crashes on the SA server, only when i try to enter space 2, i can join other servers, i can join other space's on the SA server, i can even play singleplayer, but i always crash when trying to join space 2. pls halp
     note: i was mining with my atomic dissasembler in the deep dark on monday the 12th. The exact moment i crashed was when i was about to destroy a tinker'

[2016-07-14 22:33] MJRLegends commented on #412
See https://github.com/MJRLegends/Space-Astronomy-Feedback-/issues/402

[2016-07-14 22:33] #412 closed

[2016-07-14 22:41] Caboosanaitor commented on #412
i feel silly for not putting two and two together >_> thank you so much for putting up with our problems ^^ it worked perfectly

[2016-07-15 15:45] Blocki92 commented on #409
Thanks for the quick answer...

Updating the driver helped...

And this was my first time getting this error i think it was the fault of a Windows Update

And my geforce gtx 960 with 4G isnt that old

[2016-07-15 16:09] MJRLegends commented on #409
No problem

[2016-07-15 20:27] SugarDaddii opened #413 "Chisel Mod Out of Date!"
The "Auto Chisel" dont work!
(You cant put something inside Target Slot!)

Dont know if your 1.4.8 Update has the newer Version of Chisel?

Take a look  pls!

Have a nice Weekend!

[2016-07-15 21:29] LoneComet opened #414 "Game crashes saying out of memory on official server"
Here is the changelog:

http://pastebin.com/vRXdjVyZ

[2016-07-16 08:12] jasmine2785 opened #415 "Linux Server No way to start"
I dont have a file to start this server.  There is a windows bat file, but it does not work properly in linux.  I am running  Linux Ubuntu server LTS.

[2016-07-16 08:12] MJRLegends commented on #415
Make one then